<template>
  <div>
    <img
      src="../assets/apk.png"
      class="download-apk__button mr-2"
      alt="apk"
      href="https://viruscontrol.tech/apk/viruscontrol.apk"
    />
    <a
      href="https://viruscontrol.tech/apk/viruscontrol.apk"
      class="download-apk__button"
    ></a>
    <form
      action="https://www.paypal.com/cgi-bin/webscr"
      style="z-index: 50; position: fixed; bottom: 0px; left: 85px;"
      method="post"
      target="_top"
    >
      <input type="hidden" name="cmd" value="_s-xclick" />
      <input type="hidden" name="hosted_button_id" value="Y3CFL6US9E5XS" />
      <input
        type="image"
        src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
        style="width: 85px !important;"
        border="0"
        name="submit"
        title="PayPal - The safer, easier way to pay online!"
        alt="Donate with PayPal button"
      />
      <img
        alt=""
        border="0"
        src="https://www.paypal.com/en_UY/i/scr/pixel.gif"
        width="1"
        height="1"
      />
    </form>
    <v-row no-gutters class="pt-2 graph__content">
      <v-col
        align-self="center"
        cols="12"
        sm="12"
        md="6"
        lg="6"
        class="text-center"
      >
        <Map :data="mapData" v-if="!changeMap"></Map>
      </v-col>
      <v-col
        cols="12"
        sm="12"
        md="6"
        lg="6"
        align-self="center"
        class="text-center"
      >
        <v-form ref="requestExam" lazy-validation class="disease__search">
          <v-select
            style="width: 300px;"
            v-model="disease"
            :items="diseasesNames"
            dense
            rounded
            solo
            @change="getCases(true)"
            :rules="diseaseRule"
            prepend-icon="mdi-virus-outline"
            :label="$i18n.t('PATIENTS.disease')"
            color="#4960d8"
          ></v-select>
        </v-form>
        <v-card max-height="180px" max-width="650px" class="mb-10 graph">
          <v-card-text>
            <v-row no-gutters>
              <v-col sm="3" md="3" lg="3" cols="4" class="pt-2">
                <p style="font-size: 14px; color: #808080;">
                  {{ $i18n.t("DASHBOARD.totalConfirmed") }}
                </p>
                <p
                  style="font-size: 52px; font-weight: bold;"
                  class="ma-0 pt-5"
                >
                  {{ totalConfirmed }}
                </p>
              </v-col>
              <v-col class="graph__total--gradient">
                <img src="../assets/img1.svg" style="width: 186px;" alt="" />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card max-height="180px" max-width="650px" class="my-10 graph">
          <v-card-text>
            <v-row no-gutters>
              <v-col sm="3" md="3" lg="3" cols="4" class="pt-2">
                <p style="font-size: 14px; color: #808080;">
                  {{ $i18n.t("DASHBOARD.totalSuspects") }}
                </p>
                <p
                  style="font-size: 52px; font-weight: bold;"
                  class="ma-0 pt-7"
                >
                  {{ totalSuspects }}
                </p>
              </v-col>
              <v-col class="graph__suspect--gradient">
                <img src="../assets/img2.svg" style="width: 177px;" alt="" />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card max-height="180px" max-width="650px" class="my-10 graph">
          <v-card-text>
            <v-row no-gutters>
              <v-col sm="3" md="3" lg="3" cols="4" class="pt-2">
                <p style="font-size: 14px; color: #808080;">
                  {{ $i18n.t("DASHBOARD.totalCured") }}
                </p>
                <p
                  style="font-size: 52px; font-weight: bold;"
                  class="ma-0 pt-2"
                >
                  {{ totalCured }}
                </p>
              </v-col>
              <v-col class="graph__confirmed--gradient">
                <img src="../assets/img.svg" style="width: 202px;" alt="" />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row no-gutters class="pt-5">
      <v-carousel
        show-arrows
        hide-delimiters
        class="text-center carousel--responsive"
      >
        <v-carousel-item v-for="(slide, i) in newsLength" :key="i">
          <template v-for="(item, index) in news[i]">
            <div
              :key="index"
              style="display: inline-block; vertical-align: top;"
            >
              <TwitterNew
                v-if="item.type == 'TWITTER'"
                :twitter="item"
              ></TwitterNew>
              <RssNew
                v-if="item.type == 'RSS'"
                :rss="item"
                class="my-4"
              ></RssNew>
            </div>
          </template>
        </v-carousel-item>
      </v-carousel>
    </v-row>
    <ChatBot></ChatBot>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Map from "@/components/Map.vue";
import Toolbar from "@/components/Toolbar.vue";
import ChatBot from "@/components/ChatBot.vue";
import TwitterNew from "@/components/TwitterNew.vue";
import RssNew from "@/components/RssNew.vue";
import { mapState } from "vuex";
import { New, TwitterNewType, RssNewType } from "@/controllers/news";
import { State, CaseType } from "@/controllers/states";
import { Disease, DiseaseType } from "@/controllers/diseases";

@Component({
  computed: {
    diseaseRule(): ((v: string) => string | true)[] {
      return [
        (v: string): string | true =>
          !!v || this.$i18n.t("PATIENTS.diseaseRule").toString(),
      ];
    },
    ...mapState({
      extended: (state: any) => state.extended,
    }),
  },
  components: {
    Map,
    Toolbar,
    TwitterNew,
    RssNew,
    ChatBot,
  },
})
export default class Dashboard extends Vue {
  $refs!: {
    requestExam: HTMLFormElement;
  };
  private news: Array<Array<TwitterNewType | RssNewType>> = [];
  private newsLength = 0;
  private newsWithMedia = [];
  private disease = "";
  private diseases: Array<DiseaseType> = [];
  private mapData: any = [];
  private totalSuspects = 0;
  private totalCases = 0;
  private changeMap = false;
  private totalConfirmed = 0;
  private totalCured = 0;

  private created() {
    this.$store.dispatch("showNav", true);
    this.getNews();
  }

  private async mounted() {
    await this.getDiseases();
    await this.getCases(false);
  }

  private async getNews() {
    try {
      const news = await New.getNews();
      this.newsLength = Math.floor(news.length / 4);
      for (let i = 0; i < this.newsLength; i++) {
        this.news.push(news.slice(0 + i * 4, 4 + i * 4));
      }
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private async getDiseases() {
    try {
      const response = await Disease.getDiseases();
      this.diseases = response;
      this.disease = this.diseasesNames[0];
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private async getCases(change: boolean) {
    if (this.$refs.requestExam.validate()) {
      try {
        const cases = await State.getCases(this.diseaseId);
        const mapData: any = [];
        cases.forEach((e: CaseType) => {
          if (e.cases.length > 0) {
            let confirmed = 0;
            let suspect = 0;
            let cured = 0;
            let discarded = 0;

            e.cases.forEach((c) => {
              if (c.type == "CONFIRMED") {
                confirmed = c.quantity;
              } else if (c.type == "SUSPECT") {
                suspect = c.quantity;
              } else if (c.type == "CURED") {
                cured = c.quantity;
              } else if (c.type == "DISCARDED") {
                discarded = c.quantity;
              }
            });
            let json = {
              id: "",
              cases: e.cases.length,
              confirmed: confirmed,
              suspect: suspect,
              cured: cured,
              discarded: discarded,
              size: confirmed + suspect,
            };
            switch (e.name) {
              case "ARTIGAS":
                json.id = "UY.AR";
                mapData.push(json);
                break;
              case "CANELONES":
                json.id = "UY.CA";
                mapData.push(json);
                break;
              case "CERRO_LARGO":
                json.id = "UY.CL";
                mapData.push(json);
                break;
              case "COLONIA":
                json.id = "UY.CO";
                mapData.push(json);
                break;
              case "DURAZNO":
                json.id = "UY.DU";
                mapData.push(json);
                break;
              case "FLORES":
                json.id = "UY.FS";
                mapData.push(json);
                break;
              case "FLORIDA":
                json.id = "UY.FD";
                mapData.push(json);
                break;
              case "LAVALLEJA":
                json.id = "UY.LA";
                mapData.push(json);
                break;
              case "MALDONADO":
                json.id = "UY.MA";
                mapData.push(json);
                break;
              case "MONTEVIDEO":
                json.id = "UY.MO";
                mapData.push(json);
                break;
              case "PAYSANDU":
                json.id = "UY.PA";
                mapData.push(json);
                break;
              case "RIO_NEGRO":
                json.id = "UY.RN";
                mapData.push(json);
                break;
              case "RIVERA":
                json.id = "UY.RV";
                mapData.push(json);
                break;
              case "ROCHA":
                json.id = "UY.RO";
                mapData.push(json);
                break;
              case "SALTO":
                json.id = "UY.SA";
                mapData.push(json);
                break;
              case "SAN_JOSE":
                json.id = "UY.SJ";
                mapData.push(json);
                break;
              case "SORIANO":
                json.id = "UY.SO";
                mapData.push(json);
                break;
              case "TACUAREMBO":
                json.id = "UY.TA";
                mapData.push(json);
                break;
              case "TREINTA_Y_TRES":
                json.id = "UY.TT";
                mapData.push(json);
                break;
            }
          }
        });
        this.mapData = mapData;
        this.totalSuspects = mapData.reduce((acumulator: any, data: any) => {
          return acumulator + data.suspect;
        }, 0);
        this.totalConfirmed = mapData.reduce((acumulator: any, data: any) => {
          return acumulator + data.confirmed;
        }, 0);
        this.totalCured = mapData.reduce((acumulator: any, data: any) => {
          return acumulator + data.cured;
        }, 0);
        this.totalCases = this.totalSuspects + this.totalConfirmed;
        if (change) {
          this.changeMap = true;
          setTimeout(() => {
            this.changeMap = false;
          }, 100);
        }
      } catch (error) {
        this.$notify({
          group: "feedback",
          duration: 5000,
          type: "error",
          title: "Error",
          text: error.message,
        });
      }
    }
  }

  private get diseaseId(): number {
    return this.diseases.filter((disease: DiseaseType) => {
      if (disease.name == this.disease) {
        return disease;
      }
    })[0].id;
  }

  private get diseasesNames(): Array<string> {
    return this.diseases.map((disease: DiseaseType) => {
      return disease.name;
    });
  }
}
</script>

<style lang="scss">
@media (min-width: 601px) and (max-width: 960px) {
  .v-carousel__item {
    height: 640px !important;
  }
}
</style>

<style scoped lang="scss">
.carousel--responsive {
  height: 400px !important;
}

.download-apk__button {
  position: fixed;
  bottom: 5px;
  left: 3px;
  width: 80px;
  height: 28px;
  cursor: pointer;
  z-index: 100;
}

.graph {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;

  .graph__total--gradient {
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      #ff6666
    ) !important;
    border-radius: 6px !important;
  }

  .graph__suspect--gradient {
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      #fbe5c3
    ) !important;
    border-radius: 6px !important;
  }

  .graph__confirmed--gradient {
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      #a3eae1
    ) !important;
    border-radius: 6px !important;
  }
}

.graph__content {
  padding-left: 42px;
  padding-right: 42px;
}

.disease__search {
  padding-top: 20px;
}

@media (max-width: 600px) {
  .carousel--responsive {
    height: 463px !important;
  }

  .disease__search {
    padding-top: 0 !important;
  }

  .graph__content {
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  .graph {
    display: inline-block;
    width: 100%;
  }

  .carousel--responsive {
    height: 640px !important;
  }
}

@media (min-width: 961px) and (max-width: 1264px) {
  .graph {
    width: 350px !important;
    display: inline-block;
  }

  .carousel--responsive {
    height: 100% !important;
  }
}
</style>
