<template>
  <div class="background">
    <div class="background__circle--small"></div>
    <div class="background__circle--medium"></div>
    <div class="background__circle--big"></div>
    <img
      src="../assets/exams.svg"
      alt="Doctor Image"
      class="background__image"
    />
    <v-row no-gutters class="pa-4">
      <v-col cols="12" sm="6" md="6" lg="4" xl="4" class="search">
        <v-text-field
          filled
          rounded
          :label="$i18n.t('EXAMS.search')"
          v-model="search"
          prepend-inner-icon="mdi-magnify"
        ></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-container fluid class="pa-0">
          <v-row no-gutters>
            <v-col
              cols="12"
              sm="6"
              md="4"
              lg="3"
              xl="3"
              v-for="(item, index) in exams"
              :key="index"
              class="text-center px-4 py-6"
            >
              <v-card width="350px" class="resource-card">
                <div class="text-end resource-card__header">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-icon
                        v-on="on"
                        v-if="
                          item.status == 'REQUESTED' || item.status == 'PENDING'
                        "
                        class="ma-2"
                        style="float: left;"
                        >mdi-clock-outline</v-icon
                      >
                      <v-icon v-else v-on="on" class="ma-2" style="float: left;"
                        >mdi-check</v-icon
                      >
                    </template>
                    <span v-if="item.status == 'REQUESTED'">
                      {{ $i18n.t("EXAMS.requested") }}
                    </span>
                    <span v-else-if="item.status == 'PENDING'">
                      {{ $i18n.t("EXAMS.pending") }}
                    </span>
                    <span v-else>
                      {{ $i18n.t("EXAMS.delivered") }}
                    </span>
                  </v-tooltip>
                  <v-chip
                    class="ma-2"
                    color="#de5454"
                    small
                    dark
                    v-if="item.positive"
                  >
                    <v-icon left size="18">mdi-check</v-icon>
                    {{ $i18n.t("EXAMS.positive") }}
                  </v-chip>
                  <v-chip
                    class="ma-2"
                    color="#678861"
                    small
                    dark
                    v-if="!item.positive"
                  >
                    <v-icon left size="18">mdi-check</v-icon>
                    {{ $i18n.t("EXAMS.negative") }}
                  </v-chip>
                </div>
                <v-card-text class="text-center">
                  <p
                    style="font-size: 28px; font-weight: bold;"
                    class="ma-0 pt-2"
                  >
                    {{ item.medicalCase.disease.name }}
                  </p>
                  <p class="pt-5" style="font-size: 14px; color: #808080;">
                    {{ item.date.slice(0, 10) }}
                  </p>
                  <v-progress-linear
                    active
                    :height="5"
                    rounded
                    striped
                    :value="
                      item.status == 'REQUESTED' || item.status == 'PENDING'
                        ? 50
                        : 100
                    "
                    color="#3e2ae0"
                  ></v-progress-linear>
                </v-card-text>
                <v-card-actions
                  class="text-center pb-4"
                  style="display: block;"
                >
                </v-card-actions>
              </v-card>
            </v-col>
            <v-row no-gutters>
              <v-col cols="12" class="alert--padding pt-6">
                <v-alert
                  v-show="exams.length === 0"
                  :value="true"
                  width="100%"
                  prominent
                  border="left"
                  class="content-container__card-actions_button white--text"
                >
                  <v-icon size="38" class="px-2">mdi-emoticon-poop</v-icon>
                  {{ $i18n.t("EXAMS.noData") }}
                </v-alert>
              </v-col>
            </v-row>
            <v-pagination
              class="pt-6 pagination"
              style="z-index: 100;"
              v-model="page"
              :length="pages"
              circle
            ></v-pagination>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapState } from "vuex";
import { ExamType, Exam } from "@/controllers/exams";

@Component({
  computed: {
    ...mapState({
      extended: (state: any) => state.extended,
    }),
  },
})
export default class Exams extends Vue {
  private search = "";
  private pages = 0;
  private page = 1;
  private exams: Array<ExamType> = [];

  private created() {
    this.$store.dispatch("showNav", true);
    this.getExams();
  }

  private async getExams() {
    try {
      const response = await Exam.getExams(this.userId);
      this.exams = response;
      this.pages = Math.ceil(response.length / 8);
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private get filtered() {
    if (!this.search) {
      return this.exams
        .filter((exam) => {
          return (
            exam.date.toLowerCase().indexOf(this.search.toLowerCase()) > -1
          );
        })
        .slice(8 * this.page - 8, 8 * this.page);
    } else {
      return this.exams
        .filter((exam) => {
          return (
            exam.date.toLowerCase().indexOf(this.search.toLowerCase()) > -1
          );
        })
        .slice(0, 8);
    }
  }

  private get isLogged(): boolean {
    return this.$store.state.logged;
  }

  private get userId(): number {
    return this.$store.state.profile.id;
  }
}
</script>

<style scoped lang="scss">
.background {
  position: relative;
  height: 100%;

  .background__circle--small {
    width: 115px;
    height: 115px;
    position: fixed;
    background: #1db5a14a;
    border-radius: 100%;
    bottom: 125px;
    right: 16%;
  }

  .background__circle--medium {
    width: 150px;
    height: 150px;
    position: fixed;
    background: #7ee4d752;
    border-radius: 100%;
    bottom: 250px;
    right: -4%;
  }

  .background__circle--big {
    width: 300px;
    height: 300px;
    position: fixed;
    background: #91aef199;
    border-radius: 100%;
    bottom: -95px;
    right: -107px;
  }

  .background__image {
    position: fixed;
    left: 25px;
    bottom: -1px;
    width: 400px;
  }
}

.search {
  padding-top: 45px;
  padding-left: 35px;
}

.resource-card {
  display: inline-block;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 2px 2px 5px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid #e0e0e0;

  .resource-card__header {
    width: 100%;
    border-top: 3px solid #3e2ae0;
    height: 43px;
  }
}

.content-container__card-actions_button {
  background: linear-gradient(90deg, rgb(9, 199, 138), rgb(28, 173, 125));
  box-shadow: 0 0 4px 0 #1da677c2 !important;
  width: 200px;
}

.alert--padding {
  padding-left: 42px;
  padding-right: 42px;
}

@media (max-width: 600px) {
  .pagination {
    position: fixed;
    bottom: 5px;
  }

  .alert--padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .search {
    padding-top: 15px !important;
    padding-left: 0px !important;
  }

  .background {
    .background__circle--small {
      width: 115px;
      height: 115px;
      position: fixed;
      background: #1db5a14a;
      border-radius: 100%;
      top: 400px;
      left: 5%;
    }

    .background__circle--medium {
      top: 150px !important;
      bottom: 0 !important;
      right: -20% !important;
    }

    .background__circle--big {
      top: 470px !important;
      right: -107px;
    }

    .background__image {
      display: none !important;
    }
  }
}
</style>
