<template>
  <v-row class="background" align="center" justify="end">
    <img src="../assets/wave.png" alt="wave" class="background__wave" />
    <img
      src="../assets/VirusControlPentagono3-10-10.png"
      alt="logo"
      class="background__logo"
      @click="$router.push('/')"
    />
    <img
      src="../assets/directions.svg"
      class="background__location"
      alt="location-image"
    />
    <div class="background__circle--small"></div>
    <div class="background__circle--medium"></div>
    <div class="background__circle--big"></div>
    <v-col class="content">
      <div>
        <h1 class="content__title">
          VirusControl
        </h1>
        <p class="content__description">
          {{ $i18n.t("LOGIN.description") }}
        </p>
        <v-btn :loading="loading" color="#4960d8" x-large dark @click="doLogin">
          {{ $i18n.t("LOGIN.button") }}
        </v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { AuthResponse, Auth } from "@/controllers/auth";

@Component({})
export default class Login extends Vue {
  private loading = false;

  private created() {
    this.$store.dispatch("showNav", false);
  }

  private async doLogin() {
    this.loading = true;
    try {
      // @ts-ignore
      const response = await this.$auth.authenticate("gubUy");
      const data: AuthResponse = await Auth.authenticate({
        token: response.access_token,
      });
      this.$store.dispatch("authenticate", {
        accessToken: data.accessToken,
        refreshToken: data.refreshToken,
      });
      if (data.finishedUserProfile) {
        this.$store.dispatch("login", true);
        this.$router.push("/");
      } else {
        this.$store.dispatch("signUp", true);
        this.$router.push("signup");
      }
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: this.$i18n.t("LOGIN.errorMessage").toString(),
      });
    }
    this.loading = false;
  }
}
</script>

<style scoped lang="scss">
.background {
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: -64px;

  .background__wave {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 2;
    margin-top: 19px;
  }

  .background__logo {
    position: absolute;
    bottom: 5px;
    left: 18px;
    width: 75px;
    z-index: 3;
    cursor: pointer;
  }

  .background__location {
    position: absolute;
    width: 550px;
    left: 12vw;
    z-index: 3;
  }

  .background__circle--small {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #7ee4d7;
    border-radius: 100%;
    bottom: 45px;
    right: 80px;
    z-index: 1;
  }
  .background__circle--medium {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #71ded0;
    border-radius: 100%;
    top: 100px;
    right: 25%;
    z-index: 1;
  }
  .background__circle--big {
    width: 200px;
    height: 200px;
    position: absolute;
    background: #1db5a1;
    border-radius: 100%;
    bottom: 150px;
    left: 50%;
    z-index: 1;
  }
}

.content {
  overflow: hidden;
  max-width: 700px;
  text-align: center;
  z-index: 4;

  .content__title {
    color: #4960d8;
    font-size: 48px;
    letter-spacing: 4px;
    font-weight: lighter;
    font-family: unset;
    margin-bottom: 10px;
  }
  .content__description {
    color: #606060;
    font-size: 16px;
    margin-bottom: 35px;
  }
}

// Tablets and small screen size
@media (min-width: 601px) and (max-width: 960px) {
  .background {
    .background__circle--big {
      display: none !important;
    }

    .background__circle--small {
      display: none !important;
    }

    .background__location {
      width: 450px !important;
    }
  }
}

// Mobile size
@media (max-width: 600px) {
  .background {
    margin-top: -56px;

    .background__circle--small {
      bottom: 25px !important;
      right: 40px;
    }

    .background__circle--medium {
      top: 120px;
      right: -110px;
      z-index: 1;
    }

    .background__circle--big {
      bottom: 150px;
      left: -100px;
    }

    .background__location {
      width: 300px;
      top: 22%;
      z-index: 2;
    }

    .background__logo {
      left: 15px;
      width: 60px;
    }
  }

  .content {
    margin-top: 65% !important;
    .content__description {
      color: #fff !important;
    }
  }
}
</style>
