<template>
  <div class="background">
    <div class="background__circle--small"></div>
    <div class="background__circle--medium"></div>
    <div class="background__circle--big"></div>
    <img
      src="../assets/undraw_doctor_kw5l.svg"
      alt="Doctor Image"
      class="background__doctor"
    />
    <v-row no-gutters class="pa-4">
      <v-col cols="12" sm="6" md="6" lg="4" xl="4" class="search">
        <v-text-field
          filled
          rounded
          :label="$i18n.t('PATIENTS.search')"
          v-model="search"
          prepend-inner-icon="mdi-magnify"
        ></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-container fluid class="pa-0">
          <v-row no-gutters>
            <v-col
              cols="12"
              sm="6"
              md="4"
              lg="3"
              xl="3"
              v-for="(item, index) in filtered"
              :key="index"
              class="text-center px-4 py-6"
            >
              <v-card class="card" shaped>
                <div class="card__header">
                  <v-menu
                    transition="slide-y-transition"
                    nudge-left="90px;"
                    nudge-bottom="60px"
                    :close-on-content-click="false"
                    bottom
                    avatar
                  >
                    <template v-slot:activator="{ on }">
                      <span v-on="on">
                        <v-tooltip bottom>
                          <template v-slot:activator="{ on }">
                            <v-btn
                              icon
                              class="ma-2 mr-0"
                              dark
                              style="float: right;"
                              v-on="on"
                            >
                              <v-icon>mdi-virus</v-icon>
                            </v-btn>
                          </template>
                          <span>{{ $i18n.t("PATIENTS.symptoms") }}</span>
                        </v-tooltip>
                      </span>
                    </template>
                    <v-card width="300px" class="pa-3">
                      <v-list style="overflow-y: auto; max-height: 270px;">
                        <p style="color: #626262;" class="pb-0">
                          {{ $i18n.t("PATIENTS.symptoms").toUpperCase() }}
                        </p>
                        <v-alert
                          v-show="item.symptons.length === 0"
                          :value="true"
                          width="100%"
                          prominent
                          border="left"
                          class="content-container__card-actions_button white--text"
                        >
                          <v-icon size="38" class="pl-2 pr-1"
                            >mdi-emoticon-poop</v-icon
                          >
                          <span style="font-size: 14px;">
                            {{ $i18n.t("TOOLBAR.noNotifications") }}
                          </span>
                        </v-alert>
                        <v-list-item
                          v-for="symptom in item.symptons"
                          :key="symptom.id"
                          class="ma-1"
                          style="
                            box-shadow: 1px 1px 7px 1px #d8d8d8 !important;
                            border-radius: 4px !important;
                          "
                        >
                          <v-list-item-content class="pl-2">
                            <v-list-item-title
                              v-text="symptom.name"
                              style="font-size: 18px; color: #424242;"
                            ></v-list-item-title>
                            <v-list-item-subtitle
                              style="font-size: 14px; color: #626262;"
                              v-text="symptom.description"
                            ></v-list-item-subtitle>
                          </v-list-item-content>
                          <v-list-item-action>
                            <v-list-item-action-text class="mt-4 pr-2">
                              <img
                                src="../assets/virus_alert.png"
                                alt="exam"
                                style="width: 35px;"
                              />
                            </v-list-item-action-text>
                          </v-list-item-action>
                        </v-list-item>
                      </v-list>
                    </v-card>
                  </v-menu>
                  <v-btn
                    icon
                    style="float: left;"
                    class="ma-2"
                    dark
                    @click="openCloseAppointment(item.id, index)"
                  >
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        icon
                        class="ma-2 mr-0"
                        dark
                        style="float: right;"
                        @click="getExams(item)"
                        v-on="on"
                      >
                        <v-icon>mdi-format-list-checks</v-icon>
                      </v-btn>
                    </template>
                    <span>{{ $i18n.t("PATIENTS.exams") }}</span>
                  </v-tooltip>
                </div>
                <v-card-text class="text-center">
                  <v-avatar :color="randomColor" size="72" class="card__avatar">
                    <span class="white--text headline"
                      >{{ item.firstnameAlias }}{{ item.lastnameAlias }}</span
                    >
                  </v-avatar>
                  <p class="pt-5 ma-0" style="font-size: 18px;">
                    {{ item.patient.firstname }} {{ item.patient.lastname }}
                  </p>
                  <v-icon class="pb-1 pr-1">mdi-map-marker</v-icon>
                  <span>{{
                    item.location.street +
                    ", " +
                    item.location.city +
                    ", " +
                    item.location.department.replace(/_/g, " ")
                  }}</span>
                </v-card-text>
                <v-card-actions
                  class="text-center pb-4"
                  style="display: block;"
                >
                  <v-btn
                    color="#4960d8"
                    small
                    class="card__button"
                    dark
                    @click="openRequestExam(item)"
                  >
                    {{ $i18n.t("PATIENTS.requestExam") }}
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" class="pt-6 alert--padding">
              <v-alert
                v-show="filtered.length === 0"
                :value="true"
                width="100%"
                prominent
                border="left"
                class="content-container__card-actions_button white--text"
              >
                <v-icon size="38" class="px-2">mdi-emoticon-poop</v-icon>
                {{ $i18n.t("PATIENTS.noData") }}
              </v-alert>
            </v-col>
          </v-row>
          <v-pagination
            class="pt-6 pagination"
            style="z-index: 100;"
            v-model="page"
            :length="pages"
            circle
          ></v-pagination>
        </v-container>
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialogs.closeAppointment"
      width="400px"
      overlay-opacity="0.8"
    >
      <v-card class="px-8 py-4" style="border-top: 5px solid #4960d8;">
        <v-card-title
          style="justify-content: center;"
          class="request-exam__content"
        >
          <span>{{ $i18n.t("PATIENTS.closeAppointment") }}</span>
        </v-card-title>
        <v-card-text class="pt-8 request-exam__content">
          <p>{{ $i18n.t("PATIENTS.closeAppointmentText") }}</p>
        </v-card-text>
        <v-card-actions>
          <v-row no-gutters>
            <v-col cols="12" style="text-align: end;">
              <v-btn
                text
                class="mr-1"
                @click="dialogs.closeAppointment = !dialogs.closeAppointment"
                >{{ $i18n.t("GENERAL.close") }}</v-btn
              >
              <v-btn
                dark
                class="ml-1"
                style="background: linear-gradient(90deg, #09c78a, #1cad7d);"
                @click="closeAppointment"
                >{{ $i18n.t("PATIENTS.confirm") }}</v-btn
              >
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogs.requestExam" width="500px" overlay-opacity="0.8">
      <v-card class="px-8 py-4" style="border-top: 5px solid #4960d8;">
        <v-card-title
          style="justify-content: center;"
          class="request-exam__content"
        >
          <span>{{ $i18n.t("PATIENTS.requestExam") }}</span>
        </v-card-title>
        <v-card-text class="pt-8 request-exam__content">
          <v-form ref="requestExam" lazy-validation>
            <v-autocomplete
              v-model="disease"
              :items="diseasesNames"
              dense
              rounded
              :rules="diseaseRule"
              filled
              prepend-icon="mdi-virus-outline"
              :label="$i18n.t('PATIENTS.disease')"
              color="#4960d8"
            ></v-autocomplete>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-row no-gutters>
            <v-col cols="12" style="text-align: end;">
              <v-btn
                text
                class="mr-1"
                @click="dialogs.requestExam = !dialogs.requestExam"
                >{{ $i18n.t("GENERAL.close") }}</v-btn
              >
              <v-btn
                dark
                class="ml-1"
                style="background: linear-gradient(90deg, #09c78a, #1cad7d);"
                @click="requestExam"
                >{{ $i18n.t("PATIENTS.confirm") }}</v-btn
              >
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogs.listExams" width="650px" overlay-opacity="0.8">
      <v-card class="py-4 exams__card">
        <v-card-title style="justify-content: center;" class="pt-0">
          <span>
            {{
              appointment.patient.firstname + " " + appointment.patient.lastname
            }}
          </span>
        </v-card-title>
        <v-card-text class="exams-list">
          <v-list two-line>
            <v-subheader class="pa-0">{{
              $i18n.t("PATIENTS.exams")
            }}</v-subheader>
            <v-list-item class="pa-0" v-if="exams.length === 0">
              <v-alert
                :value="true"
                width="100%"
                prominent
                border="left"
                class="content-container__card-actions_button white--text"
              >
                <v-icon size="38" class="pl-2 pr-1">mdi-emoticon-poop</v-icon>
                <span style="font-size: 14px;">
                  {{ $i18n.t("PATIENTS.noExams") }}
                </span>
              </v-alert>
            </v-list-item>
            <v-list-item
              v-for="(item, i) in exams"
              :key="i"
              class="my-4 exams-list__item"
              :style="
                item.status != 'REQUESTED'
                  ? 'border-left: 5px solid #21dea1;'
                  : 'border-left: 5px solid #ffc150;'
              "
            >
              <v-list-item-avatar>
                <v-icon>{{
                  item.status != "REQUESTED" ? "mdi-check" : "mdi-clock-outline"
                }}</v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title
                  v-text="item.medicalCase.disease.name"
                ></v-list-item-title>
                <v-list-item-subtitle>{{
                  item.date.slice(0, 10)
                }}</v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <span style="color: #444; border-bottom: 1px solid #21dea1;">
                  {{
                    item.status == "DELIVERED" && item.positive
                      ? $i18n.t("PATIENTS.positive").toString()
                      : ""
                  }}{{
                    item.status == "DELIVERED" && !item.positive
                      ? $i18n.t("PATIENTS.negative").toString()
                      : ""
                  }}
                </span>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <v-row no-gutters>
            <v-col cols="12" style="text-align: end;">
              <v-btn
                dark
                class="mr-1"
                @click="dialogs.listExams = !dialogs.listExams"
                style="background: linear-gradient(90deg, #5369da, #243fd0);"
                >{{ $i18n.t("GENERAL.close") }}</v-btn
              >
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapState } from "vuex";
import { Appoinment, AppoinmentType } from "@/controllers/appointments";
import { Disease, DiseaseType } from "@/controllers/diseases";
import { User } from "@/controllers/user";
import { Exam, ExamType } from "@/controllers/exams";

@Component({
  computed: {
    diseaseRule(): ((v: string) => string | true)[] {
      return [
        (v: string): string | true =>
          !!v || this.$i18n.t("PATIENTS.diseaseRule").toString(),
      ];
    },
    ...mapState({
      extended: (state: any) => state.extended,
    }),
  },
})
export default class Patients extends Vue {
  $refs!: {
    requestExam: HTMLFormElement;
  };
  private dialogs = {
    requestExam: false,
    listExams: false,
    closeAppointment: false,
    listSymptoms: false,
  };
  private appointments: Array<AppoinmentType> = [];
  private colors = ["#bd5f5f", "#6f369a", "#71905a", "#22a6c3"];
  private diseases: Array<DiseaseType> = [];
  private disease = "";
  private appointment: AppoinmentType = {
    location: {
      city: "",
      street: "",
      department: "",
    },
    patient: {
      id: 0,
      firstname: "",
      lastname: "",
    },
    doctor: {
      id: 0,
    },
    firsnameAlias: "",
    lastnameAlias: "",
  };
  private exams: Array<ExamType> = [];
  private page = 1;
  private pages = 0;
  private search = "";
  private appointmentId = 0;
  private selectedAppointment = 0;

  private created() {
    this.$store.dispatch("showNav", true);
    this.getAppointments();
    this.getDiseases();
  }

  private async getDiseases() {
    try {
      const response = await Disease.getDiseases();
      this.diseases = response;
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private async getAppointments() {
    try {
      const response = await Appoinment.getAppointments();
      this.appointments = response;
      this.pages = Math.ceil(response.length / 8);
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private async closeAppointment() {
    try {
      await Appoinment.closeAppointment(this.appointmentId);
      this.dialogs.closeAppointment = false;
      this.appointments.splice(this.selectedAppointment, 1);
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "success",
        title: this.$i18n.t("PATIENTS.SUCCESS").toString(),
        text: this.$i18n.t("PATIENTS.closeAppointmentMessage").toString(),
      });
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private async getExams(appointment: AppoinmentType) {
    try {
      this.appointment = appointment;
      const response = await Exam.getExams(appointment.patient.id);
      this.exams = response;
      this.dialogs.listExams = true;
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private openRequestExam(appointment: AppoinmentType) {
    this.dialogs.requestExam = true;
    this.appointment = appointment;
  }

  private openCloseAppointment(appointment: number, index: number) {
    this.dialogs.closeAppointment = true;
    this.appointmentId = appointment;
    this.selectedAppointment = index;
  }

  private async requestExam() {
    if (this.$refs.requestExam.validate()) {
      try {
        await User.requestExam(this.diseaseId, this.appointment.patient.id);
        this.dialogs.requestExam = false;
        this.$notify({
          group: "feedback",
          duration: 5000,
          type: "success",
          title: this.$i18n.t("PATIENTS.SUCCESS").toString(),
          text: this.$i18n.t("PATIENTS.requestExamMessage").toString(),
        });
      } catch (error) {
        this.$notify({
          group: "feedback",
          duration: 5000,
          type: "error",
          title: "Error",
          text: error.message,
        });
      }
    }
  }

  private get filtered() {
    if (!this.search) {
      return this.appointments
        .filter((appointment) => {
          return (
            appointment.patient.firstname
              .toLowerCase()
              .indexOf(this.search.toLowerCase()) > -1
          );
        })
        .slice(8 * this.page - 8, 8 * this.page);
    } else {
      return this.appointments
        .filter((appointment) => {
          return (
            appointment.patient.firstname
              .toLowerCase()
              .indexOf(this.search.toLowerCase()) > -1
          );
        })
        .slice(0, 8);
    }
  }

  private get userId(): number {
    return this.$store.state.profile.id;
  }

  private get diseaseId(): number {
    return this.diseases.filter((disease: DiseaseType) => {
      if (disease.name == this.disease) {
        return disease;
      }
    })[0].id;
  }

  private get diseasesNames(): Array<string> {
    return this.diseases.map((disease: DiseaseType) => {
      return disease.name;
    });
  }

  private get randomColor(): string {
    return this.colors[Math.floor(Math.random() * 4)];
  }
}
</script>

<style scoped lang="scss">
.background {
  height: 100%;
  position: relative;

  .background__doctor {
    position: fixed;
    left: 25px;
    bottom: 0;
    width: 500px;
  }
  .background__circle--small {
    width: 115px;
    height: 115px;
    position: fixed;
    background: #1db5a14a;
    border-radius: 100%;
    bottom: 125px;
    right: 16%;
  }
  .background__circle--medium {
    width: 150px;
    height: 150px;
    position: fixed;
    background: #7ee4d752;
    border-radius: 100%;
    bottom: 250px;
    right: -4%;
  }
  .background__circle--big {
    width: 300px;
    height: 300px;
    position: fixed;
    background: #91aef199;
    border-radius: 100%;
    bottom: -95px;
    right: -107px;
  }
}

.card {
  display: inline-block;
  width: 350px;

  .card__header {
    box-shadow: 1px 1px 3px -1px #aaaaaa;
    background: radial-gradient(circle, #329272 0%, #02c380 100%) !important;
    height: 80px;
  }

  .card__avatar {
    box-shadow: 1px -1px 17px 0px #404040;
    position: absolute;
    top: 15%;
    left: 40%;
  }

  .card__button {
    background: linear-gradient(90deg, #5369da, #243fd0);
    box-shadow: 0 0 4px 0 var(--v-primary-base) !important;
    width: 200px;
  }
}

.search {
  padding-top: 45px;
  padding-left: 35px;
}

.exams-list {
  overflow-y: auto;
  max-height: 500px;
  .exams-list__item {
    border-radius: 5px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
}

.content-container__card-actions_button {
  background: linear-gradient(90deg, rgb(9, 199, 138), rgb(28, 173, 125));
  box-shadow: 0 0 4px 0 #1da677c2 !important;
  width: 200px;
}

.exams__card {
  border-top: 5px solid #4960d8;
  padding-left: 32px;
  padding-right: 32px;
}

.alert--padding {
  padding-left: 42px;
  padding-right: 42px;
}

@media (max-width: 600px) {
  .pagination {
    position: fixed;
    bottom: 5px;
  }

  .alert--padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .exams__card {
    border-top: 5px solid #4960d8;
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
  .exams-list {
    padding: 0 !important;
  }

  .search {
    z-index: 10;
    padding-top: 15px !important;
    padding-left: 0px !important;
  }
  .background {
    .background__doctor {
      display: none !important;
    }

    .background__circle--small {
      width: 115px;
      height: 115px;
      position: fixed;
      background: #1db5a14a;
      border-radius: 100%;
      top: 400px;
      left: 5%;
    }

    .background__circle--medium {
      top: 150px !important;
      bottom: 0 !important;
      right: -20% !important;
    }

    .background__circle--big {
      top: 470px !important;
      right: -107px;
    }
  }

  .request-exam__content {
    padding: 0 !important;
  }
}
</style>
