<template>
  <div class="background">
    <div class="background__circle--small"></div>
    <div class="background__circle--medium"></div>
    <div class="background__circle--big"></div>
    <img
      src="../assets/patients.svg"
      alt="Doctor Image"
      class="background__image"
    />
    <v-row no-gutters class="pa-4">
      <v-col cols="12" sm="6" md="6" lg="4" xl="4" class="search">
        <v-text-field
          filled
          rounded
          :label="$i18n.t('RESOURCES.search')"
          v-model="search"
          prepend-inner-icon="mdi-magnify"
        ></v-text-field>
      </v-col>
      <v-col cols="12">
        <v-container fluid class="pa-0">
          <v-row no-gutters>
            <v-col
              cols="12"
              sm="6"
              md="4"
              lg="3"
              xl="3"
              v-for="(item, index) in filtered"
              :key="index"
              class="text-center px-4 py-6"
            >
              <v-card width="350px" class="resource-card">
                <div class="text-end resource-card__header">
                  <v-chip
                    v-if="item.quantity === 0"
                    class="ma-2 resource-card__header-stock"
                    color="#ff9b54"
                    small
                    dark
                  >
                    {{ $i18n.t("RESOURCES.outOfStock") }}
                  </v-chip>
                  <v-chip
                    class="ma-2"
                    color="#43aaf3"
                    small
                    dark
                    v-if="item.subscribed"
                  >
                    <v-icon left size="18">mdi-check</v-icon>
                    {{ $i18n.t("RESOURCES.subscribed") }}
                  </v-chip>
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on }">
                      <v-btn
                        icon
                        class="ma-2"
                        style="float: right;"
                        v-on="on"
                        @click="showProviders(index)"
                      >
                        <v-icon>mdi-dolly</v-icon>
                      </v-btn>
                    </template>
                    <span>{{ $i18n.t("RESOURCES.providers") }}</span>
                  </v-tooltip>
                </div>
                <v-card-text class="text-center">
                  <p
                    style="font-size: 48px; font-weight: bold;"
                    class="ma-0 pt-2"
                  >
                    {{ item.quantity }}
                  </p>
                  <p class="pt-4 ma-0" style="font-size: 18px;">
                    {{ item.dtoResource.name }}
                  </p>
                  <p class="ma-0" style="font-size: 11px; color: #808080;">
                    {{
                      item.dtoResource.resourceType == "PREVENTION"
                        ? $i18n.t("RESOURCES.prevention")
                        : $i18n.t("RESOURCES.treatment")
                    }}
                  </p>
                </v-card-text>
                <v-card-actions
                  class="text-center pb-4"
                  style="display: block;"
                >
                  <v-btn
                    color="#4960d8"
                    v-if="!item.subscribed && isLogged"
                    small
                    class="content-container__card-actions_button"
                    dark
                    @click="subscribe(index)"
                  >
                    {{ $i18n.t("RESOURCES.subscribe") }}
                  </v-btn>
                  <v-btn
                    color="#4960d8"
                    v-if="item.subscribed && isLogged"
                    small
                    class="content-container__card-actions_button"
                    dark
                    @click="unsubscribe(index)"
                  >
                    {{ $i18n.t("RESOURCES.unsubscribe") }}
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
            <v-row no-gutters>
              <v-col cols="12" class="alert--padding pt-6">
                <v-alert
                  v-show="filtered.length === 0"
                  :value="true"
                  width="100%"
                  prominent
                  border="left"
                  class="content-container__card-actions_button white--text"
                >
                  <v-icon size="38" class="px-2">mdi-emoticon-poop</v-icon>
                  {{ $i18n.t("RESOURCES.noData") }}
                </v-alert>
              </v-col>
            </v-row>
            <v-pagination
              class="pt-6 pagination"
              style="z-index: 100;"
              v-model="page"
              :length="pages"
              circle
            ></v-pagination>
          </v-row>
        </v-container>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog" width="650px" overlay-opacity="0.8">
      <v-card
        class="providers__card py-4"
        style="border-top: 5px solid #4960d8;"
      >
        <v-card-text class="exams-list">
          <v-list two-line>
            <v-subheader>{{ $i18n.t("RESOURCES.providers") }}</v-subheader>
            <v-row no-gutters>
              <v-col cols="12" class="px-4">
                <v-alert
                  v-show="providers.length === 0"
                  :value="true"
                  width="100%"
                  prominent
                  border="left"
                  class="content-container__card-actions_button white--text"
                >
                  <v-icon size="38" class="px-2">mdi-emoticon-poop</v-icon>
                  {{ $i18n.t("RESOURCES.noData") }}
                </v-alert>
              </v-col>
            </v-row>
            <v-list-item
              v-for="(item, i) in providers"
              :key="i"
              class="my-4 exams-list__item"
            >
              <v-list-item-avatar>
                <v-icon>mdi-truck</v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title
                  v-text="item.resourceProvider.commercialName"
                >
                </v-list-item-title>
                <v-list-item-subtitle>
                  <v-icon class="mb-1">mdi-map-marker</v-icon>
                  <span>
                    {{
                      item.resourceProvider.address.street +
                      ", " +
                      item.resourceProvider.address.town +
                      ", " +
                      item.resourceProvider.address.city +
                      ", " +
                      item.resourceProvider.address.department.replace(
                        "/_/g",
                        " "
                      )
                    }}
                  </span>
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <v-tooltip bottom nudge-left="10px">
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                      <v-icon>mdi-calendar-clock</v-icon>
                    </v-btn>
                  </template>
                  <p
                    class="ma-0"
                    v-for="(i, index) in item.resourceProvider.openSchedule"
                    :key="index"
                  >
                    {{
                      i.dayOfWeek + " " + i.openingHour + " - " + i.closingHour
                    }}
                  </p>
                </v-tooltip>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions>
          <v-row no-gutters>
            <v-col cols="12" style="text-align: end;">
              <v-btn
                dark
                class="mr-1"
                @click="dialog = !dialog"
                style="background: linear-gradient(90deg, #5369da, #243fd0);"
                >{{ $i18n.t("GENERAL.close") }}</v-btn
              >
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapState } from "vuex";
import { Resource, ResourceType, Availability } from "@/controllers/resources";

@Component({
  computed: {
    ...mapState({
      extended: (state: any) => state.extended,
    }),
  },
})
export default class Resources extends Vue {
  private dialog = false;
  private resources: Array<ResourceType> = [];
  private providers: Array<Availability> = [];
  private pages = 0;
  private search = "";
  private page = 1;

  private created() {
    this.$store.dispatch("showNav", true);
    this.getResources();
  }

  private async subscribe(index: number) {
    try {
      await Resource.subscribe(this.filtered[index].dtoResource.id);
      this.filtered[index].subscribed = true;
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "success",
        title: this.$i18n.t("RESOURCES.SUCCESS").toString(),
        text: this.$i18n.t("RESOURCES.subscribeMessage").toString(),
      });
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private async unsubscribe(index: number) {
    try {
      await Resource.unsubscribe(this.filtered[index].dtoResource.id);
      this.filtered[index].subscribed = false;
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "success",
        title: this.$i18n.t("RESOURCES.SUCCESS").toString(),
        text: this.$i18n.t("RESOURCES.unsubscribeMessage").toString(),
      });
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private async getResources() {
    try {
      let response;
      if (this.isLogged) {
        response = await Resource.getResourcesWithSuscriptions();
      } else {
        response = await Resource.getResources();
      }
      response = response.map((resource: ResourceType) => {
        const quantity =
          resource.availability.length === 0
            ? 0
            : resource.availability.reduce((acumulator, resource: any) => {
                return acumulator + resource.quantity;
              }, 0);
        resource.availability.forEach((availability) => {
          availability.resourceProvider.openSchedule.forEach((day) => {
            switch (day.dayOfWeek) {
              case "MONDAY":
                day.dayOfWeek = this.$i18n.t("RESOURCES.monday").toString();
                break;
              case "TUESDAY":
                day.dayOfWeek = this.$i18n.t("RESOURCES.tuesday").toString();
                break;
              case "WEDNESDAY":
                day.dayOfWeek = this.$i18n.t("RESOURCES.wednesday").toString();
                break;
              case "THURSDAY":
                day.dayOfWeek = this.$i18n.t("RESOURCES.thursday").toString();
                break;
              case "FRIDAY":
                day.dayOfWeek = this.$i18n.t("RESOURCES.friday").toString();
                break;
              case "SATURDAY":
                day.dayOfWeek = this.$i18n.t("RESOURCES.saturday").toString();
                break;
              case "SUNDAY":
                day.dayOfWeek = this.$i18n.t("RESOURCES.sunday").toString();
                break;
            }
          });
        });
        return Object.assign(resource, { quantity: quantity });
      });
      this.pages = Math.ceil(response.length / 8);
      this.resources = response;
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private showProviders(index: number) {
    this.providers = this.filtered[index].availability;
    this.dialog = true;
  }

  private get filtered() {
    if (!this.search) {
      return this.resources
        .filter((resource) => {
          let town = false;
          let name = false;
          let type = false;
          resource.availability.forEach((item) => {
            if (!town) {
              town =
                item.resourceProvider.address.town
                  .toLowerCase()
                  .indexOf(this.search.toLowerCase()) > -1;
            }
          });
          name =
            resource.dtoResource.name
              .toLowerCase()
              .indexOf(this.search.toLowerCase()) > -1;
          type =
            resource.dtoResource.resourceType
              .toLowerCase()
              .indexOf(this.search.toLowerCase()) > -1;
          if (name || town || type) {
            return true;
          }
        })
        .slice(8 * this.page - 8, 8 * this.page);
    } else {
      return this.resources
        .filter((resource) => {
          let town = false;
          let name = false;
          let type = false;
          resource.availability.forEach((item) => {
            if (!town) {
              town =
                item.resourceProvider.address.town
                  .toLowerCase()
                  .indexOf(this.search.toLowerCase()) > -1;
            }
          });
          name =
            resource.dtoResource.name
              .toLowerCase()
              .indexOf(this.search.toLowerCase()) > -1;
          type =
            this.$i18n
              .t(`RESOURCES.${resource.dtoResource.resourceType.toLowerCase()}`)
              .toString()
              .toLowerCase()
              .indexOf(this.search.toLowerCase()) > -1;
          if (name || town || type) {
            return true;
          }
        })
        .slice(0, 8);
    }
  }

  private get isLogged(): boolean {
    return this.$store.state.logged;
  }
}
</script>

<style scoped lang="scss">
.background {
  position: relative;
  height: 100%;

  .background__circle--small {
    width: 115px;
    height: 115px;
    position: fixed;
    background: #1db5a14a;
    border-radius: 100%;
    bottom: 125px;
    right: 16%;
  }

  .background__circle--medium {
    width: 150px;
    height: 150px;
    position: fixed;
    background: #7ee4d752;
    border-radius: 100%;
    bottom: 250px;
    right: -4%;
  }

  .background__circle--big {
    width: 300px;
    height: 300px;
    position: fixed;
    background: #91aef199;
    border-radius: 100%;
    bottom: -95px;
    right: -107px;
  }

  .background__image {
    position: fixed;
    left: 25px;
    bottom: -1px;
    width: 400px;
  }
}

.search {
  padding-top: 45px;
  padding-left: 35px;
}

.exams-list__item {
  border-left: 5px solid #3db37c;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.resource-card {
  display: inline-block;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 2px 2px 5px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid #e0e0e0;

  .resource-card__header {
    width: 100%;
    border-top: 3px solid #0bc589;
    height: 43px;

    .resource-card__header-stock {
      position: absolute;
      top: -4px;
      left: -25px;
      transform: rotate(-20deg);
    }
  }
}

.content-container__card-actions_button {
  background: linear-gradient(90deg, rgb(9, 199, 138), rgb(28, 173, 125));
  box-shadow: 0 0 4px 0 #1da677c2 !important;
  width: 200px;
}

.resources-list__avatar {
  box-shadow: 1px -1px 17px 0px #404040;
  position: absolute;
  top: 15%;
  left: 40%;
}

.resources-list__banner {
  box-shadow: 1px 1px 3px -1px #aaaaaa;
  background: radial-gradient(circle, #329272 0%, #02c380 100%) !important;
  height: 80px;
}

.alert--padding {
  padding-left: 42px;
  padding-right: 42px;
}

.providers__card {
  border-top: 5px solid #4960d8;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 600px) {
  .pagination {
    position: fixed;
    bottom: 5px;
  }

  .alert--padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .providers__card {
    border-top: 5px solid #4960d8;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .search {
    padding-top: 15px !important;
    padding-left: 0px !important;
  }

  .background {
    .background__circle--small {
      width: 115px;
      height: 115px;
      position: fixed;
      background: #1db5a14a;
      border-radius: 100%;
      top: 400px;
      left: 5%;
    }

    .background__circle--medium {
      top: 150px !important;
      bottom: 0 !important;
      right: -20% !important;
    }

    .background__circle--big {
      top: 470px !important;
      right: -107px;
    }

    .background__image {
      display: none !important;
    }
  }
}
</style>
