<template>
  <v-row class="background" align="center" justify="center">
    <img src="../assets/wave.png" alt="wave" class="background__wave" />
    <img
      src="../assets/VirusControlPentagono3-10-10.png"
      class="background__logo"
      alt="logo"
    />
    <img
      src="../assets/directions.svg"
      class="background__location"
      alt="location"
    />
    <div class="background__circle--small"></div>
    <div class="background__circle--medium"></div>
    <div class="background__circle--big"></div>
    <v-col class="content">
      <v-card class="card pa-5 pb-8">
        <v-card-title class="card__title"
          >{{ $i18n.t("SIGNUP.title") }}
        </v-card-title>
        <v-card-text class="pb-4 pt-10 px-8 card__content">
          <v-form ref="signUp" lazy-validation>
            <v-text-field
              v-model="documentNumber"
              counter="8"
              filled
              rounded
              :rules="ciRule"
              oninput="javascript: if (this.value.length > 8) this.value = this.value.slice(0, this.maxLength);"
              type="number"
              label="CI"
              prepend-icon="mdi-card-account-details"
              color="#4960d8"
            ></v-text-field>
            <v-tooltip
              bottom
              nudge-top="30px"
              :z-index="displayAddress ? '10' : '0'"
            >
              <template v-slot:activator="{ on }">
                <div v-on="on">
                  <v-select
                    v-model="displayAddress"
                    :items="items"
                    :rules="displayAddressRule"
                    filled
                    rounded
                    prepend-icon="mdi-map-marker"
                    :label="$i18n.t('SIGNUP.addressLabel')"
                    color="#4960d8"
                    @click="dialog = true"
                  ></v-select>
                </div>
              </template>
              <span>{{ displayAddress }}</span>
            </v-tooltip>
            <v-text-field
              filled
              rounded
              v-model="phoneNumber"
              :label="$i18n.t('SIGNUP.phoneLabel')"
              prepend-icon="mdi-cellphone"
              color="#4960d8"
              @keydown.space="trimSpaces"
            ></v-text-field>
            <v-select
              v-model="type"
              :items="lang == 'sp' ? types.sp : types.es"
              :rules="typeRule"
              filled
              rounded
              prepend-icon="mdi-account-tie"
              :label="$i18n.t('SIGNUP.typeLabel')"
              color="#4960d8"
            ></v-select>
          </v-form>
        </v-card-text>
        <v-card-actions class="card__actions">
          <v-btn
            :loading="loading"
            color="#4960d8"
            class="card__actions__button"
            @click.prevent="singUp"
            x-large
            dark
          >
            {{ $i18n.t("SIGNUP.signupButton") }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>

    <v-dialog v-model="dialog" width="650px" overlay-opacity="0.8">
      <v-card class="px-8 pb-4 pt-8 card">
        <v-card-text class="pt-8 card__content">
          <v-form ref="address" lazy-validation>
            <v-text-field
              v-model="address.street"
              filled
              dense
              :rules="streetRule"
              rounded
              prepend-icon="mdi-map-marker"
              :label="$i18n.t('SIGNUP.streetLabel')"
              color="#4960d8"
              @keyup.enter="transformAddress"
              @keydown.space="trimSpaces"
            ></v-text-field>
            <v-text-field
              v-model="address.city"
              filled
              dense
              :rules="cityRule"
              rounded
              prepend-icon="mdi-city"
              :label="$i18n.t('SIGNUP.cityLabel')"
              color="#4960d8"
              @keyup.enter="transformAddress"
              @keydown.space="trimSpaces"
            ></v-text-field>
            <v-autocomplete
              v-model="address.state"
              :items="stateNames"
              dense
              rounded
              :rules="stateRule"
              filled
              prepend-icon="mdi-map"
              :label="$i18n.t('SIGNUP.stateLabel')"
              color="#4960d8"
              @keyup.enter="transformAddress"
            ></v-autocomplete>
          </v-form>
        </v-card-text>
        <v-card-actions class="card__actions text-end" style="width: 100%;">
          <v-btn text class="mr-1" @click="dialog = !dialog">{{
            $i18n.t("GENERAL.close")
          }}</v-btn>
          <v-btn
            depressed
            color="teal"
            dark
            style="background: linear-gradient(90deg, #5369da, #243fd0);"
            @click.prevent="transformAddress"
            >{{ $i18n.t("GENERAL.save") }}</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { State } from "@/controllers/states";
import { User, SignUpData } from "@/controllers/user";

@Component({
  computed: {
    ciRule(): ((v: string) => string | true)[] {
      return [
        (v: string): string | true =>
          v.length >= 7 || this.$i18n.t("SIGNUP.ciRule").toString(),
      ];
    },
    displayAddressRule(): ((v: string) => string | true)[] {
      return [
        (v: string): string | true =>
          !!v || this.$i18n.t("SIGNUP.addressRule").toString(),
      ];
    },
    typeRule(): ((v: string) => string | true)[] {
      return [
        (v: string): string | true =>
          !!v || this.$i18n.t("SIGNUP.typeRule").toString(),
      ];
    },
    stateRule(): ((v: string) => string | true)[] {
      return [
        (v: string): string | true =>
          !!v || this.$i18n.t("SIGNUP.stateRule").toString(),
      ];
    },
    cityRule(): ((v: string) => string | true)[] {
      return [
        (v: string): string | true =>
          !!v || this.$i18n.t("SIGNUP.cityRule").toString(),
      ];
    },
    streetRule(): ((v: string) => string | true)[] {
      return [
        (v: string): string | true =>
          !!v || this.$i18n.t("SIGNUP.streetRule").toString(),
      ];
    },
  },
})
export default class SignUp extends Vue {
  $refs!: {
    signUp: HTMLFormElement;
    address: HTMLFormElement;
  };

  private displayAddress = "";
  private items: Array<string> = [];
  private address = {
    street: "",
    city: "",
    state: "",
  };
  private types = {
    sp: ["Medico", "Ciudadano"],
    en: ["Medic", "Citizen"],
  };
  private type = "";
  private documentNumber = "";
  private phoneNumber = "";
  private loading = false;
  private dialog = false;
  private states: Array<string> = [];

  private created() {
    this.getStates();
    this.$store.dispatch("showNav", false);
  }

  private transformAddress() {
    if (this.$refs.address.validate()) {
      this.displayAddress = this.address.street;
      if (this.address.city) {
        this.displayAddress += `, ${this.address.city}`;
      }
      if (this.address.state) {
        this.displayAddress +=
          this.lang == "sp"
            ? `, Departamento de ${this.address.state}`
            : `, State of ${this.address.state}`;
      }
      this.items = [this.displayAddress];
      this.dialog = false;
    }
  }

  private trimSpaces(e: KeyboardEvent) {
    const target = e.target as HTMLInputElement;
    if (!target.value) {
      e.preventDefault();
    } else if (target.value == " ") {
      target.value = target.value.replace(/^\s*/, "");
    }
  }

  private async getStates() {
    try {
      const data = await State.get();
      this.states = data;
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
    this.loading = false;
  }

  private async singUp() {
    if (this.$refs.signUp.validate()) {
      this.loading = true;
      try {
        const data: SignUpData = {
          documentNumber: this.documentNumber,
          phoneNumber: this.phoneNumber,
          isDoctor:
            this.type == "Medic" || this.type == "Medico" ? true : false,
          address: {
            coordinates: "",
            street: this.address.street,
            town: "",
            city: this.address.city,
            department: this.address.state.replace(/ /g, "_"),
          },
        };
        await User.signUp(data);
        this.$store.dispatch("signUp", false);
        this.$store.dispatch("login", true);
        this.$router.push("/");
      } catch (error) {
        this.$notify({
          group: "feedback",
          duration: 5000,
          type: "error",
          title: "Error",
          text: error.message,
        });
      }
      this.loading = false;
    }
  }

  private get stateNames() {
    return this.states.map((state: string) => {
      return state.replace(/_/g, " ");
    });
  }

  private get lang() {
    return this.$store.state.lang;
  }
}
</script>

<style scoped lang="scss">
.background {
  height: 100vh;
  position: relative;
  overflow: hidden;

  .background__wave {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 19px;
    height: 100vh;
  }

  .background__logo {
    position: absolute;
    bottom: 5px;
    left: 25px;
    width: 75px;
  }

  .background__location {
    position: absolute;
    width: 550px;
    left: 12vw;
  }

  .background__circle--small {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #7ee4d7;
    border-radius: 100%;
    bottom: 45px;
    right: 80px;
  }

  .background__circle--medium {
    width: 150px;
    height: 150px;
    position: absolute;
    background: #71ded0;
    border-radius: 100%;
    top: 100px;
    right: 25%;
  }

  .background__circle--big {
    width: 200px;
    height: 200px;
    position: absolute;
    background: #1db5a1;
    border-radius: 100%;
    bottom: 150px;
    left: 50%;
  }
}

.content {
  overflow: hidden;
  max-width: 600px;
  text-align: center;
  z-index: 2;
}

.card {
  box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.2),
    0px 2px 14px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-top: 5px solid #4960d8;
  .card__title {
    color: #515152;
    justify-content: center;
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: lighter;
    font-family: unset;
  }

  .card__actions {
    display: inline-block;
    text-align: center;

    .card__actions__button {
      width: 200px;
      background: linear-gradient(90deg, #5369da, #243fd0);
      box-shadow: 0 0 4px 0 var(--v-primary-base) !important;
    }
  }
}

@media (max-width: 600px) {
  .background {
    .background__circle--small {
      bottom: 25px !important;
      right: 40px;
    }

    .background__circle--medium {
      top: 120px;
      right: -110px;
      z-index: 1;
    }

    .background__circle--big {
      bottom: 150px;
      left: -100px;
    }

    .background__location {
      width: 300px;
      top: 115px;
      z-index: 2;
    }

    .background__logo {
      left: 15px;
      bottom: 1px;
      width: 45px;
    }
  }

  .content {
    padding: 0px 25px !important;
  }

  .card {
    padding: 5px !important;
    padding-bottom: 15px !important;
    .card__title {
      font-size: 32px;
    }
    .card__content {
      padding-bottom: 5px !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
}
</style>
