<template>
  <v-row
    no-gutters
    class="webchat_content"
    style="height: 100%; position: relative; overflow-y: hidden;"
  >
    <v-col cols="12" class="d-none d-sm-flex">
      <v-card height="100%" width="100%">
        <v-row no-gutters class="unified__top-border">
          <!-- ROOMS -->
          <v-col cols="3" class="unified__left-side">
            <v-card flat width="100%">
              <RoomList
                @updateRoom="
                  showJoinRoom = !showJoinRoom;
                  showNoMessages = !showNoMessages;
                "
                :rooms="rooms"
                @joinRoom="joinRoom"
              ></RoomList>
            </v-card>
          </v-col>
          <v-col>
            <v-row no-gutters style="height: 100%;">
              <v-col
                cols="12"
                style="
                  height: calc(100% - 78px);
                  position: relative;
                  overflow: hidden;
                "
              >
                <div
                  class="chat"
                  style="
                    height: calc(100vh - 218px);
                    overflow-y: auto;
                    max-height: calc(100vh - 218px);
                    min-height: calc(100vh - 218px);
                  "
                  id="chat-container"
                  :class="extended ? 'chat-height' : ''"
                >
                  <v-row
                    no-gutters
                    v-if="showNoMessages"
                    align-content="center"
                    style="height: 100%; width: 100%;"
                  >
                    <v-col class="text-center">
                      <img
                        src="../assets/nomessages.svg"
                        alt="No Messages"
                        style="width: 250px;"
                      />
                      <p
                        style="
                          font-size: 28px;
                          font-weight: bold;
                          color: #818181;
                        "
                        class="pt-2"
                        v-text="$i18n.t('CHAT.noMessages')"
                      ></p>
                    </v-col>
                  </v-row>
                  <v-row
                    no-gutters
                    v-if="showJoinRoom"
                    align-content="center"
                    style="height: 100%; width: 100%;"
                  >
                    <v-col class="text-center">
                      <v-btn
                        large
                        dark
                        @click="suscribeToRoom"
                        style="
                          z-index: 3;
                          background: linear-gradient(90deg, #5369da, #243fd0);
                          box-shadow: 0 0 4px 0 var(--v-primary-base) !important;
                        "
                      >
                        {{ $i18n.t("CHAT.joinRoom") }}
                      </v-btn>
                      <img
                        src="../assets/joinRoom.svg"
                        alt="chat"
                        style="
                          position: absolute;
                          width: 550px;
                          bottom: 18%;
                          right: 33%;
                          opacity: 0.4;
                        "
                      />
                    </v-col>
                  </v-row>
                  <v-row
                    no-gutters
                    v-if="loading"
                    align-content="center"
                    style="height: 100%; width: 100%;"
                  >
                    <v-col class="text-center">
                      <v-progress-circular
                        :size="50"
                        color="primary"
                        indeterminate
                      ></v-progress-circular>
                    </v-col>
                  </v-row>
                  <template v-if="messages.length != 0">
                    <div
                      v-for="(message, index) in messages"
                      :key="index"
                      :class="[
                        message.userId == externalId
                          ? 'chat-mine'
                          : 'chat-theirs',
                      ]"
                    >
                      <p
                        v-if="
                          messages[index - 1] == undefined ||
                          messages[index - 1].userId != messages[index].userId
                        "
                        :class="[
                          message.userId == externalId
                            ? 'username-mine'
                            : 'username-theirs',
                        ]"
                      >
                        {{ message.userName }}
                      </p>
                      <div class="bubble mine">
                        {{ message.text }}
                        <span class="chat-time">{{
                          convertTime(message.createdAt.toDate())
                        }}</span>
                      </div>
                    </div>
                  </template>
                </div>
                <img
                  v-if="messages.length != 0 && !loading"
                  src="../assets/chat.svg"
                  alt="chat"
                  class="chat-image"
                />
              </v-col>
              <v-col cols="12">
                <v-row no-gutters class="webchat__input-message">
                  <v-col
                    cols="12"
                    style="display: inline-flex; min-height: 78px;"
                  >
                    <v-text-field
                      :placeholder="$i18n.t('CHAT.typeMessage')"
                      v-model="message"
                      solo
                      flat
                      @keydown.enter="sendMessage"
                      @keydown.space="trimSpaces"
                      @focus="showEmoji = false"
                    ></v-text-field>
                    <VEmojiPicker
                      class="emojis__content"
                      @select="selectEmoji"
                      v-if="showEmoji"
                    />
                    <v-btn
                      icon
                      large
                      class="mt-4 mr-1"
                      @click="showEmoji = !showEmoji"
                    >
                      <v-icon size="28">mdi-emoticon-outline</v-icon>
                    </v-btn>
                    <v-btn
                      icon
                      large
                      class="mt-4 mr-2"
                      @click.prevent="sendMessage"
                    >
                      <v-icon size="28">mdi-send</v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
    <v-col class="hidden-sm-and-up" style="overflow-y: hidden !important;">
      <ChatMobile :rooms="rooms"></ChatMobile>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import VEmojiPicker from "v-emoji-picker";
import { db } from "@/firebase/index";
import ChatMobile from "@/components/ChatMobile.vue";
import RoomList from "@/components/RoomList.vue";
import { mapState } from "vuex";

interface Room {
  id: string;
  name: string;
  icon: string;
  suscribed: string[];
}

@Component({
  computed: {
    ...mapState({
      extended: (state: any) => state.extended,
    }),
  },
  components: {
    VEmojiPicker,
    ChatMobile,
    RoomList,
  },
})
export default class WebChat extends Vue {
  private message = "";
  private messages: any[] = [];
  private showEmoji = false;
  private loading = false;
  private rooms: Room[] = [];
  private selectedRoom = -1;
  private showNoMessages = true;
  private showJoinRoom = false;

  private created() {
    this.$store.dispatch("showNav", true);
    this.fetchRooms();
  }

  private trimSpaces(e: KeyboardEvent) {
    const target = e.target as HTMLInputElement;
    if (!target.value) {
      e.preventDefault();
    } else if (target.value == " ") {
      target.value = target.value.replace(/^\s*/, "");
    }
  }

  private fetchRooms() {
    db.collection("rooms").onSnapshot((querySnapshot) => {
      const rooms: Room[] = [];
      querySnapshot.forEach((doc) => {
        let data: any = doc.data();
        data = Object.assign(data, { id: doc.id });
        rooms.push(data);
      });
      this.rooms = rooms;
    });
  }
  private fetchMessages(index: number) {
    this.loading = true;
    setTimeout(() => {
      db.collection("chat")
        .where("roomId", "==", this.rooms[index].id)
        .orderBy("createdAt")
        .onSnapshot((querySnapshot) => {
          this.messages = [];
          querySnapshot.forEach((doc) => {
            this.messages.push(doc.data());
            Vue.nextTick(() => {
              const chat: any = document.getElementById("chat-container") || {};
              chat.scrollTop = chat.scrollHeight;
            });
          });
          if (this.messages.length == 0) {
            this.showNoMessages = true;
          }
        });
      this.loading = false;
    }, 500);
  }

  private joinRoom(index: number) {
    this.showNoMessages = false;
    this.loading = true;
    this.messages = [];
    this.showJoinRoom = false;
    setTimeout(() => {
      this.selectedRoom = index;
      if (this.rooms[index].suscribed.indexOf(this.externalId) != -1) {
        this.loading = false;
        this.fetchMessages(index);
      } else {
        this.loading = false;
        this.showJoinRoom = true;
      }
    }, 500);
  }

  private suscribeToRoom() {
    this.rooms[this.selectedRoom].suscribed.push(this.externalId);
    const data = this.rooms[this.selectedRoom];
    db.collection("rooms").doc(this.rooms[this.selectedRoom].id).update(data);
    this.showJoinRoom = false;
    this.fetchMessages(this.selectedRoom);
  }

  private sendMessage() {
    if (this.message) {
      this.showNoMessages = false;
      db.collection("chat").add({
        text: this.message,
        userId: this.externalId,
        userName: this.fullName,
        createdAt: new Date(),
        roomId: this.rooms[this.selectedRoom].id,
      });
      this.message = "";
      Vue.nextTick(() => {
        const chat: any = document.getElementById("chat-container") || {};
        chat.scrollTop = chat.scrollHeight;
      });
    }
  }

  private selectEmoji(emoji: any) {
    if (this.message) {
      this.message += emoji.data;
    } else {
      this.message = emoji.data;
    }
  }

  private showEmojis() {
    this.showEmoji != this.showEmoji;
  }

  public convertTime(date: Date): string {
    let newDate = "";
    newDate =
      date.getHours() < 10 ? "0" + date.getHours() : "" + date.getHours();
    newDate +=
      date.getMinutes() < 10
        ? ":0" + date.getMinutes()
        : ":" + date.getMinutes();
    return newDate;
  }

  get externalId(): string {
    return this.$store.state.profile.externalId;
  }

  get fullName(): string {
    return (
      this.$store.state.profile.firstname +
      " " +
      this.$store.state.profile.lastname
    );
  }
}
</script>

<style scoped lang="scss">
@font-face {
  font-family: NotomojiColor;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.glitch.com/61908de1-dd0a-4359-a54b-6cb6d41bb5fd%2FNotoColorEmoji.ttf?1513108808150)
    format("truetype");
}

.infinite-loading-container {
  background: #f9f9f9 !important;
}

.infinite-status-prompt {
  font-size: 0px !important;
  background: #f9f9f9 !important;
}

.room-menu-toggler {
  display: none !important;
}

.emojis__content {
  height: 200px;
  width: 265px !important;
  position: fixed;
  bottom: 110px;
  right: 85px;
  z-index: 2;
}

.webchat_content {
  padding: 40px;
}

.unified__top-border {
  height: 100%;
  border-top: 5px solid var(--v-primary-base);
  border-radius: 8px;
  border-top-right-radius: 3px !important;
}

.unified__left-side {
  border-right: 1px solid #0000001f;
  max-width: 397px;
  min-width: 394px;
}

.webchat__input-message {
  border-top: 1px solid #0000001f;
}

.chat {
  align-items: flex-start;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  min-width: 15em;
  height: 100%;
  margin: auto;
  position: relative;
  padding: 1em;
}

.chat-height {
  min-height: calc(100vh - 305px);
  max-height: calc(100vh - 305px);
}

.chat-time {
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  right: 4px;
  color: #f5f5f5;
}

.bubble {
  background: #eee;
  border-radius: 0.5em;
  margin-bottom: 0.25em;
  max-width: 30ch;
  position: relative;
  padding: 0.5em 1em 0.8em;
  pointer-events: none;
}

.theirs {
  border-radius: 0.5em 0.5em 0.5em 0;
  margin-bottom: 0.25em;
  & + .mine {
    margin-top: 0.5em;
  }
}

.username-theirs {
  color: #424242;
  margin: 0px 3px;
  text-align: start;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 12px;
}

.username-mine {
  color: #424242;
  margin: 0px 3px;
  text-align: end;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 12px;
}

.chat-mine {
  align-self: flex-end;
  z-index: 1;
}
.chat-theirs {
  align-self: flex-start;
  z-index: 1;
}

.mine {
  align-self: flex-end;
  background-color: rgb(255, 143, 178);
  background-image: linear-gradient(#3f51b5 0%, #a08ffd 50%, #00e5ff 100%);
  background-attachment: fixed;
  border-radius: 0.5em 0.5em 0 0.5em;
  color: white;
  & + .theirs {
    margin-top: 0.5em;
  }
}

.chat-image {
  position: fixed;
  width: 450px;
  top: 50%;
  left: 50%;
  opacity: 0.6;
}

.webchat_content {
  padding: 35px 40px !important;
}

@media (min-width: 751px) and (max-width: 960px) {
  .unified__left-side {
    border-right: 1px solid #0000001f;
    max-width: 320px;
    min-width: 320px;
  }
}
@media (min-width: 601px) and (max-width: 750px) {
  .unified__left-side {
    border-right: 1px solid #0000001f;
    max-width: 220px;
    min-width: 220px;
  }
}

@media (max-width: 600px) {
  .webchat_content {
    padding: 0 !important;
  }
  .room-menu-toggler {
    position: absolute;
    z-index: 2;
    display: block !important;
  }
  .chat-image {
    left: 25% !important;
    width: 250px !important;
  }
  .webchat-content {
    padding: 0 !important;
  }
  .chat {
    min-height: 100% !important;
  }

  .chat-height {
    min-height: calc(100vh - 215px);
    max-height: calc(100vh - 215px);
  }

  .unified__top-border {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }

  .emojis__content {
    bottom: 67px !important;
    right: 47px !important;
  }

  .webchat__input-message {
    width: 100% !important;
  }
}
</style>
