<template>
  <v-menu
    transition="slide-y-transition"
    right
    absolute
    nudge-top="490px"
    :close-on-content-click="false"
    nudge-left="300px"
    z-index="120"
    v-model="menu"
  >
    <template v-slot:activator="{ on }">
      <span v-on="on">
        <v-tooltip left>
          <template v-slot:activator="{ on }">
            <v-btn fab dark class="chatbot__button" v-on="on">
              <v-icon size="38">mdi-wechat</v-icon>
            </v-btn>
          </template>
          <span>Bot</span>
        </v-tooltip>
      </span>
    </template>
    <v-card min-width="300px">
      <v-card-title class="pa-0 pl-2 pt-1 chatbot__header">
        <span style="font-size: 17px; color: #fff;">
          <v-icon dark class="mb-2">mdi-robot</v-icon>
          {{ $i18n.t("CHATBOT.title") }}</span
        >
        <v-btn
          icon
          absolute
          v-if="startBot"
          style="right: 25px;"
          @click="closeBot"
        >
          <v-icon color="white">mdi-arrow-left</v-icon>
        </v-btn>
        <v-btn
          icon
          absolute
          v-if="startConsultations"
          style="right: 25px;"
          @click="closeConsultations"
        >
          <v-icon color="white">mdi-arrow-left</v-icon>
        </v-btn>
        <v-btn
          icon
          absolute
          style="right: 0px;"
          @click="$store.dispatch('setMenu', false)"
        >
          <v-icon color="white">mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <div class="chat-height" id="chat-container">
        <v-row
          no-gutters
          class="mobile--height"
          style="height: 400px;"
          v-if="(!startBot && !startConsultations)"
        >
          <v-col align-self="center" class="pa-4">
            <v-btn
              rounded
              color="blue"
              class="my-2"
              dark
              block
              @click="openBot"
              >{{ $i18n.t("CHATBOT.bot") }}</v-btn
            >
            <v-btn
              rounded
              color="blue"
              :dark="logged"
              :light="!logged"
              class="my-2"
              block
              :disabled="!logged"
              @click="openConsultations"
              >{{ $i18n.t("CHATBOT.consultation") }}</v-btn
            >
            <img
              src="../assets/robot.svg"
              alt="robot"
              style="
                position: fixed;
                width: 185px;
                right: 56px;
                bottom: 86px;
                opacity: 0.7;
                pointer-events: none;
              "
            />
          </v-col>
        </v-row>
        <div class="chat" v-if="startBot">
          <div
            v-for="(message, index) in messages"
            :key="index"
            :class="[message.name != 'Bot' ? 'chat-mine' : 'chat-theirs']"
          >
            <p
              v-if="
                messages[index - 1] == undefined ||
                messages[index - 1].name != messages[index].name
              "
              :class="[
                message.name != 'Bot' ? 'username-mine' : 'username-theirs',
              ]"
            >
              {{ message.name }}
            </p>
            <div
              class="bubble"
              :class="[message.name == 'Bot' ? 'theirs' : 'mine']"
            >
              <span v-html="message.text"></span>
              <span class="chat-time">{{ message.date }}</span>
            </div>
          </div>
        </div>
        <div class="chat" v-if="consultationChat && consultations.length != 0">
          <v-btn
            icon
            absolute
            style="left: -5px; top: -5px;"
            @click="deleteConsult = !deleteConsult"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <div
            v-for="(message, index) in consultationMessages"
            :key="index"
            :class="[
              message.userId != externalId ? 'chat-mine' : 'chat-theirs',
            ]"
          >
            <p
              v-if="
                messages[index - 1] == undefined ||
                messages[index - 1].name != messages[index].name
              "
              :class="[
                message.userId != externalId
                  ? 'username-mine'
                  : 'username-theirs',
              ]"
            >
              {{ message.name }}
            </p>
            <div
              class="bubble"
              :class="[message.userId == externalId ? 'theirs' : 'mine']"
            >
              <span v-html="message.text"></span>
              <span class="chat-time">{{ message.date }}</span>
            </div>
          </div>
        </div>
        <div
          v-if="
            startConsultations &&
            (!consultationChat || consultations.length == 0)
          "
          style="height: 100%;"
        >
          <v-card
            height="100%"
            style="
              border-radius: 0px !important;
              padding-top: 125px !important;
            "
            class="pa-2"
          >
            <v-alert
              v-show="consultations.length === 0"
              :value="true"
              width="100%"
              prominent
              border="left"
              class="content-container__card-actions_button white--text"
            >
              <v-icon size="38" class="pl-2 pr-1">mdi-emoticon-poop</v-icon>
              <span style="font-size: 14px;">
                {{ $i18n.t("CHATBOT.noConsultations") }}
              </span>
            </v-alert>
            <v-list>
              <v-list-item v-for="item in consultations" :key="item.id">
                <p v-if="!item.accepted" style="color: #424242;">
                  {{ $i18n.t("CHATBOT.waiting") }}
                </p>
                <p v-if="item.accepted" style="color: #424242;">
                  {{ $i18n.t("CHATBOT.start") }}
                </p>
              </v-list-item>
            </v-list>
            <div v-if="consultations.length != 0">
              <v-btn
                v-if="consultations[0].accepted"
                class="mb-6"
                dark
                rounded
                color="#00b5b5"
                block
                @click="consultationChat = !consultationChat"
                >{{ $i18n.t("CHATBOT.joinConsultation") }}</v-btn
              >
            </div>
            <v-btn
              :disabled="consultations.length != 0"
              :dark="consultations.length == 0"
              :light="consultations.length != 0"
              rounded
              color="blue"
              block
              @click="addConsultation"
              >{{ $i18n.t("CHATBOT.newConsultation") }}</v-btn
            >
          </v-card>
        </div>
      </div>
      <v-row
        no-gutters
        class="webchat__input-message"
        style="border-top: 1px solid #eaeaea;"
      >
        <v-col cols="12" style="display: inline-flex; min-height: 78px;">
          <v-text-field
            :placeholder="$i18n.t('CHATBOT.typeMessage')"
            v-model="message"
            solo
            flat
            v-if="consultationChat"
            @keydown.enter="sendMessageConsultation"
            @keydown.space="trimSpaces"
          ></v-text-field>
          <v-btn
            v-if="consultationChat"
            icon
            large
            class="mt-4 mr-2"
            @click.prevent="sendMessageConsultation"
          >
            <v-icon size="28">mdi-send</v-icon>
          </v-btn>
          <v-text-field
            :placeholder="$i18n.t('CHATBOT.typeMessage')"
            v-model="message"
            solo
            flat
            v-if="startBot"
            @keydown.enter="sendMessage"
            @keydown.space="trimSpaces"
          ></v-text-field>
          <v-btn
            v-if="startBot"
            icon
            large
            class="mt-4 mr-2"
            @click.prevent="sendMessage"
          >
            <v-icon size="28">mdi-send</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-card>
    <v-dialog v-model="deleteConsult" width="500px" overlay-opacity="0.8">
      <v-card class="px-8 py-4" style="border-top: 5px solid #4960d8;">
        <v-card-title style="justify-content: center;">
          <span>{{ $i18n.t("CHATBOT.closeConsult") }}</span>
        </v-card-title>
        <v-card-text class="pt-8">
          <p>{{ $i18n.t("CHATBOT.closeConsultMessage") }}</p>
        </v-card-text>
        <v-card-actions>
          <v-row no-gutters>
            <v-col cols="12" style="text-align: end;">
              <v-btn
                text
                class="mr-1"
                @click="deleteConsult = !deleteConsult"
                >{{ $i18n.t("GENERAL.close") }}</v-btn
              >
              <v-btn
                dark
                class="ml-1"
                style="background: linear-gradient(90deg, #09c78a, #1cad7d);"
                @click="removeConsultation"
                >{{ $i18n.t("CHATBOT.confirm") }}</v-btn
              >
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-menu>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { db } from "@/firebase/index";
@Component({})
export default class ChatBot extends Vue {
  private showEmoji = false;
  private startBot = false;
  private deleteConsult = false;
  private startConsultations = false;
  private consultationChat = false;
  private consultations: any[] = [];
  private message = "";
  private consultationMessages: any = [];
  private messages: Array<{ name: string; text: string; date: string }> = [];

  private openBot() {
    this.startBot = true;
    this.botAnswer(true, "");
  }

  private openConsultations() {
    this.fetchConsultation();
  }

  private closeBot() {
    this.startBot = false;
    this.messages = [];
  }

  private closeConsultations() {
    this.consultations = [];
    this.startConsultations = false;
    this.consultationChat = false;
  }

  private fetchConsultation() {
    db.collection("consultations")
      .where("finished", "==", false)
      .onSnapshot((querySnapshot) => {
        this.consultations = [];
        querySnapshot.forEach((doc) => {
          let data: any = doc.data();
          data = Object.assign(data, { id: doc.id });
          if (
            data.medicId == this.externalId ||
            data.patientId == this.externalId
          ) {
            this.consultations.push(data);
          }
          this.consultationMessages = data.messages;
        });
        this.startConsultations = true;
      });
  }

  private removeConsultation() {
    db.collection("consultations")
      .doc(this.consultations[0].id)
      .update({ finished: true });
    this.deleteConsult = false;
    this.consultationChat = false;
  }

  private addConsultation() {
    db.collection("consultations").add({
      messages: [],
      accepted: false,
      patientId: this.externalId,
      patientName: this.fullName,
      finished: false,
    });
  }

  private trimSpaces(e: KeyboardEvent) {
    const target = e.target as HTMLInputElement;
    if (!target.value) {
      e.preventDefault();
    } else if (target.value == " ") {
      target.value = target.value.replace(/^\s*/, "");
    }
  }

  private botAnswer(start: boolean, text: string) {
    if (start) {
      this.messages.push({
        name: "Bot",
        text: `${this.firstName} ${this.$i18n.t("CHATBOT.options").toString()}`,
        date: this.convertTime(new Date()),
      });
    } else {
      switch (text) {
        case "1":
          this.messages.push({
            name: "Bot",
            text: this.$i18n.t("CHATBOT.option1").toString(),
            date: this.convertTime(new Date()),
          });
          break;
        case "2":
          this.messages.push({
            name: "Bot",
            text: this.$i18n.t("CHATBOT.option2").toString(),
            date: this.convertTime(new Date()),
          });
          break;
        case "3":
          this.messages.push({
            name: "Bot",
            text: this.$i18n.t("CHATBOT.option3").toString(),
            date: this.convertTime(new Date()),
          });
          break;
        case "4":
          this.messages.push({
            name: "Bot",
            text: this.$i18n.t("CHATBOT.option4").toString(),
            date: this.convertTime(new Date()),
          });
          break;
        default:
          this.messages.push({
            name: "Bot",
            text: this.$i18n.t("CHATBOT.default").toString(),
            date: this.convertTime(new Date()),
          });
          break;
      }
      Vue.nextTick(() => {
        const chat: any = document.getElementById("chat-container") || {};
        chat.scrollTop = chat.scrollHeight;
      });
    }
  }

  private sendMessage() {
    if (this.message) {
      this.messages.push({
        name: this.fullName,
        text: this.message,
        date: this.convertTime(new Date()),
      });
      this.botAnswer(false, this.message);
      this.message = "";
    }
  }

  private sendMessageConsultation() {
    if (this.message) {
      this.consultationMessages.push({
        name: this.fullName,
        text: this.message,
        date: this.convertTime(new Date()),
        userId: this.externalId,
      });
      db.collection("consultations")
        .doc(this.consultations[0].id)
        .update({ messages: this.consultationMessages });
      this.message = "";
      Vue.nextTick(() => {
        const chat: any = document.getElementById("chat-container") || {};
        chat.scrollTop = chat.scrollHeight;
      });
    }
  }

  private convertTime(date: Date): string {
    let newDate = "";
    newDate =
      date.getHours() < 10 ? "0" + date.getHours() : "" + date.getHours();
    newDate +=
      date.getMinutes() < 10
        ? ":0" + date.getMinutes()
        : ":" + date.getMinutes();
    return newDate;
  }

  private get fullName(): string {
    return this.$store.state.profile.firstname
      ? this.$store.state.profile.firstname +
          " " +
          this.$store.state.profile.lastname
      : "";
  }
  private get firstName(): string {
    return this.$store.state.profile.firstname
      ? this.$store.state.profile.firstname
      : "";
  }

  private get externalId(): string {
    return this.$store.state.profile.externalId;
  }

  private get menu() {
    return this.$store.state.menu;
  }

  private set menu(value: boolean) {
    this.$store.dispatch("setMenu", value);
  }

  private get logged() {
    return this.$store.state.logged;
  }
}
</script>

<style scoped lang="scss">
.content-container__card-actions_button {
  background: linear-gradient(90deg, rgb(9, 199, 138), rgb(28, 173, 125));
  box-shadow: 0 0 4px 0 #1da677c2 !important;
  width: 300px !important;
}

.chatbot__button {
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 15px;
  background-image: linear-gradient(to right, rgb(118, 124, 239), #14199e);
}

.chatbot__header {
  background-image: linear-gradient(
    to right,
    rgb(55, 0, 177),
    #6028e9
  ) !important;
  border-bottom: 1px solid #808080;
}

.chatbot__button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s;
}

.chat {
  align-items: flex-start;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  min-width: 15em;
  height: 100%;
  margin: auto;
  position: relative;
  padding: 1em;
}

.chat-height {
  height: 400px;
  width: 100%;
  overflow-y: auto;
  background: #f9f9f9;
}

.chat-time {
  font-size: 12px;
  position: absolute;
  bottom: 0px;
  right: 4px;
  color: #f5f5f5;
}

.bubble {
  background: #eee;
  border-radius: 0.5em;
  margin-bottom: 0.25em;
  max-width: 30ch;
  position: relative;
  padding: 0.5em 1em 0.8em;
}

.theirs {
  align-self: flex-end;
  background-color: rgb(255, 143, 178);
  background-image: linear-gradient(#3cd8d8 0%, #00c2e6 50%, #2c64e2 100%);
  background-attachment: fixed;
  color: white;
  border-radius: 0.5em 0.5em 0.5em 0;
  margin-bottom: 0.25em;
  & + .mine {
    margin-top: 0.5em;
  }
}

.username-theirs {
  color: #424242;
  text-align: start;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0px !important;
  margin-top: 10px !important;
}

.username-mine {
  color: #424242;
  text-align: end;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  margin: 0px !important;
}

.chat-mine {
  align-self: flex-end;
  z-index: 1;
}
.chat-theirs {
  align-self: flex-start;
  z-index: 1;
}

.mine {
  align-self: flex-end;
  background-color: rgb(255, 143, 178);
  background-image: linear-gradient(#3cd8d8 0%, #00c2e6 50%, #2c64e2 100%);
  background-attachment: fixed;
  border-radius: 0.5em 0.5em 0 0.5em;
  color: white;
  & + .theirs {
    margin-top: 0.5em;
  }
}
.mobile--height {
  height: 400px;
}
@media (max-width: 600px) {
  .chat-height {
    height: 350px;
  }

  .mobile--height {
    height: 350px !important;
  }
}
</style>
