<template>
  <div style="height: 100%;">
    <div
      :style="
        extended
          ? 'margin-bottom: -66px !important;'
          : 'margin-bottom: 18px !important;'
      "
      class="chat-mobile"
    >
      <v-btn icon @click="drawer = !drawer" class="chat-mobile__room__button">
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
      <v-row
        no-gutters
        v-if="showNoMessages"
        align-content="center"
        style="height: 100%;"
      >
        <v-col class="text-center">
          <img
            src="../assets/nomessages.svg"
            alt="chat"
            style="width: 270px;"
          />
          <p
            style="font-size: 24px; font-weight: bold; color: #818181;"
            class="pt-2"
            v-text="$i18n.t('CHAT.noMessages')"
          ></p>
        </v-col>
      </v-row>
      <v-row
        no-gutters
        v-if="showJoinRoom"
        align-content="center"
        style="height: 100%;"
      >
        <v-col class="text-center">
          <v-btn
            large
            dark
            @click="suscribeToRoom"
            style="
              z-index: 4;
              background: linear-gradient(90deg, #5369da, #243fd0);
              box-shadow: 0 0 4px 0 var(--v-primary-base) !important;
            "
          >
            {{ $i18n.t("CHAT.joinRoom") }}
          </v-btn>
          <img
            src="../assets/joinRoom.svg"
            alt="chat"
            class="chat-mobile__join-room__image"
          />
        </v-col>
      </v-row>
      <v-row
        no-gutters
        v-if="loading"
        align-content="center"
        style="height: 100%;"
      >
        <v-col class="text-center">
          <v-progress-circular
            v-if="loading"
            :size="50"
            color="primary"
            indeterminate
          ></v-progress-circular>
        </v-col>
      </v-row>
      <div
        class="chat-mobile__messages"
        id="chat-container"
        v-if="messages.length !== 0"
      >
        <div
          v-for="(message, index) in messages"
          :key="index"
          :class="[
            message.userId == externalId
              ? 'chat-mobile__mine'
              : 'chat-mobile__theirs',
          ]"
        >
          <p
            v-if="
              messages[index - 1] == undefined ||
              messages[index - 1].userId != messages[index].userId
            "
            class="chat-mobile__username"
            :class="[
              message.userId == externalId
                ? 'chat-mobile__username__mine'
                : 'chat-mobile__username__theirs',
            ]"
          >
            {{ message.userName }}
          </p>
          <div
            class="chat-mobile__bubble"
            :class="[message.userId == externalId ? 'mine' : 'theirs']"
          >
            {{ message.text }}
            <span class="chat-mobile__date">{{
              convertTime(message.createdAt.toDate())
            }}</span>
          </div>
        </div>
        <img
          src="../assets/chat.svg"
          alt="chat"
          class="chat-mobile__messages__image"
        />
      </div>
      <v-card class="chat-mobile__actions">
        <v-text-field
          :placeholder="$i18n.t('CHAT.typeMessage')"
          v-model="message"
          solo
          flat
          @keydown.enter="sendMessage"
          @focus="showEmoji = false"
        ></v-text-field>
        <VEmojiPicker
          class="emojis__content"
          @select="selectEmoji"
          v-if="showEmoji"
        />
        <v-btn icon large class="mt-4 mr-1" @click="showEmoji = !showEmoji">
          <v-icon size="28">mdi-emoticon-outline</v-icon>
        </v-btn>
        <v-btn icon large class="mt-4 mr-2" @click.prevent="sendMessage">
          <v-icon size="28">mdi-send</v-icon>
        </v-btn>
      </v-card>
    </div>
    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
      style="z-index: 100;"
    >
      <RoomList :rooms="rooms" @joinRoom="joinRoom"></RoomList>
    </v-navigation-drawer>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import RoomList from "@/components/RoomList.vue";
import VEmojiPicker from "v-emoji-picker";
import { db } from "@/firebase/index";
import { mapState } from "vuex";

interface Room {
  id: string;
  name: string;
  icon: string;
  suscribed: string[];
}

@Component({
  computed: {
    ...mapState({
      extended: (state: any) => state.extended,
    }),
  },
  components: {
    RoomList,
    VEmojiPicker,
  },
})
export default class ChatMobile extends Vue {
  @Prop({ default: [] }) public rooms!: Room[];
  private messages: any[] = [];
  private message = "";
  private showNoMessages = true;
  private drawer = false;
  private showEmoji = false;
  private selectedRoom = -1;
  private loading = false;
  private showJoinRoom = false;

  private joinRoom(index: number) {
    this.drawer = false;
    this.loading = true;
    this.showJoinRoom = false;
    this.showNoMessages = false;
    setTimeout(() => {
      this.selectedRoom = index;
      if (this.rooms[index].suscribed.indexOf(this.externalId) != -1) {
        this.showJoinRoom = false;
        this.messages = [];
        this.fetchMessages(index);
      } else {
        this.messages = [];
        this.showJoinRoom = true;
      }
      this.loading = false;
    }, 500);
  }

  private suscribeToRoom() {
    this.rooms[this.selectedRoom].suscribed.push(this.externalId);
    const data = this.rooms[this.selectedRoom];
    db.collection("rooms").doc(this.rooms[this.selectedRoom].id).update(data);
    this.showJoinRoom = false;
    this.fetchMessages(this.selectedRoom);
  }

  private fetchMessages(index: number) {
    this.loading = true;
    setTimeout(() => {
      db.collection("chat")
        .where("roomId", "==", this.rooms[index].id)
        .orderBy("createdAt")
        .onSnapshot((querySnapshot) => {
          this.messages = [];
          querySnapshot.forEach((doc) => {
            this.messages.push(doc.data());
            Vue.nextTick(() => {
              const chat: any = document.getElementById("chat-container") || {};
              chat.scrollTop = chat.scrollHeight;
            });
          });
          if (this.messages.length == 0) {
            this.showNoMessages = true;
          }
        });
      this.loading = false;
    }, 500);
  }

  private sendMessage() {
    db.collection("chat").add({
      text: this.message,
      userId: this.externalId,
      userName: this.fullName,
      createdAt: new Date(),
      roomId: this.rooms[this.selectedRoom].id,
    });
    this.message = "";
  }

  private convertTime(date: Date): string {
    let newDate = "";
    newDate =
      date.getHours() < 10 ? "0" + date.getHours() : "" + date.getHours();
    newDate +=
      date.getMinutes() < 10
        ? ":0" + date.getMinutes()
        : ":" + date.getMinutes();
    return newDate;
  }

  private selectEmoji(emoji: any) {
    if (this.message) {
      this.message += emoji.data;
    } else {
      this.message = emoji.data;
    }
  }

  private showEmojis() {
    this.showEmoji != this.showEmoji;
  }

  get externalId(): string {
    return this.$store.state.profile.externalId;
  }

  get fullName(): string {
    return (
      this.$store.state.profile.firstname +
      " " +
      this.$store.state.profile.lastname
    );
  }
}
</script>

<style scoped lang="scss">
.chat-mobile {
  overflow-y: hidden;
  height: 100%;

  .chat-mobile__join-room__image {
    position: fixed;
    width: 370px;
    bottom: 200px;
    right: 25px;
    opacity: 0.4;
  }

  .chat-mobile__room__button {
    position: fixed;
    z-index: 3;
    opacity: 0.7;
    color: #fff;
    background: #6d6c6c;
    margin: 5px;
  }

  .chat-mobile__messages {
    align-items: flex-start;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    max-height: calc(100vh - 134px);
    min-height: calc(100vh - 134px);
    min-width: 15em;
    margin: auto;
    overflow: auto;
    position: relative;
    padding: 1em;

    .chat-mobile__messages__image {
      position: fixed;
      width: 200px;
      bottom: 110px;
      left: 120px;
      opacity: 0.4;
    }
  }

  .chat-mobile__mine {
    align-self: flex-end;
    z-index: 1;
  }
  .chat-mobile__theirs {
    align-self: flex-start;
    z-index: 1;
  }

  .chat-mobile__username {
    color: #424242;
    margin: 0px 3px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-top: 12px;
  }
  .chat-mobile__username__mine {
    text-align: end !important;
  }
  .chat-mobile__username__theirs {
    text-align: start !important;
  }

  .chat-mobile__date {
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    right: 4px;
    color: #f5f5f5;
  }

  .chat-mobile__bubble {
    background-color: rgb(255, 143, 178);
    background-image: linear-gradient(#3f51b5 0%, #a08ffd 50%, #00e5ff 100%);
    background-attachment: fixed;
    margin-bottom: 0.25em;
    max-width: 30ch;
    position: relative;
    padding: 0.5em 1em 0.8em;
    pointer-events: none;
    color: white;
  }

  .chat-mobile__actions {
    border-top: 1px solid #0000001f;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    display: inline-flex;
    width: 100%;
    border-radius: 0px !important;
  }
}

.mine {
  border-radius: 0.5em 0.5em 0 0.5em !important;
  margin-bottom: 0.25em;
  & + .theirs {
    margin-top: 0.5em;
  }
}
.theirs {
  border-radius: 0.5em 0.5em 0.5em 0;
  margin-bottom: 0.25em;
  & + .mine {
    margin-top: 0.5em;
  }
}

@font-face {
  font-family: NotomojiColor;
  font-weight: 400;
  font-display: swap;
  src: url(https://cdn.glitch.com/61908de1-dd0a-4359-a54b-6cb6d41bb5fd%2FNotoColorEmoji.ttf?1513108808150)
    format("truetype");
}

.emojis__content {
  height: 200px;
  width: 265px !important;
  position: fixed;
  bottom: 74px;
  right: 30px;
  z-index: 2;
}
</style>
