<template>
  <v-sheet class="px-3 pt-3 pb-3">
    <v-skeleton-loader
      :loading="loader"
      class="mx-auto my-auto"
      transition="scale-transition"
      max-width="550"
      type="card-avatar"
    >
      <div
        id="container"
        class="pt-6 pl-12"
        style="width: 600px; height: 600px; display: inline-block;"
      ></div>
    </v-skeleton-loader>
  </v-sheet>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
//@ts-ignore
import anychart from "anychart";

@Component({})
export default class Map extends Vue {
  @Prop({ default: [] }) public data!: any;
  private loader = true;

  private mounted() {
    setTimeout(() => {
      this.init();
    }, 1500);
    setTimeout(() => {
      this.loader = false;
    }, 1000);
  }

  private init() {
    const data = this.data;
    const i18n = this.$i18n;
    anychart.onDocumentReady(function () {
      const dataSet = anychart.data.set(data);
      const data1 = dataSet.mapAs({ id: "id", size: "size" });
      const map = anychart.map();

      // allow zoom
      map.minBubbleSize("0.9%").maxBubbleSize("4.4%");

      map.geoData(anychart.maps.uruguay);

      // set the series
      const series = map.bubble(data1);
      series.labels(false);
      series.tooltip().titleFormat(i18n.t("MAP.cases").toString());
      series
        .tooltip()
        .format(
          i18n.t("MAP.confirmed").toString() +
            ": {%confirmed}\n" +
            i18n.t("MAP.suspect") +
            ": {%suspect}\n" +
            i18n.t("MAP.cured") +
            ": {%cured}\n" +
            i18n.t("MAP.discarded") +
            ": {%discarded}"
        );
      // set the container
      map.container("container");
      map.draw();
    });
  }
}
</script>

<style lang="scss">
.anychart-credits-logo {
  display: none !important;
}
.anychart-credits-text {
  display: none !important;
}

@media (max-width: 600px) {
  #container {
    width: 345px !important;
    height: 415px !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
  }
}

@media (min-width: 961px) and (max-width: 1264px) {
  #container {
    width: 500px !important;
    height: 500px !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
  }
}
</style>
