<template>
  <v-card class="card">
    <div class="card__header">
      <v-avatar color="teal" size="72" class="card__header__avatar">
        <span class="white--text headline">{{
          profile.firstname[0] + profile.lastname[0]
        }}</span>
      </v-avatar>
    </div>
    <v-card-text class="pt-10 pb-1 card__content text-center">
      <p class="card__content__name mb-0">
        {{ profile.firstname + " " + profile.lastname }}
      </p>
      <span style="font-size: 11px; color: #809080;">
        <v-icon class="mb-1" size="18">mdi-map-marker</v-icon>
        {{
          profile.address.street +
          ", " +
          profile.address.city +
          ", " +
          profile.address.department.replace(/_/g, " ")
        }}</span
      >
      <br />
      <br />
      <span>
        <v-icon class="ml-5 mr-1 mb-1" size="22">mdi-email</v-icon>
        {{ profile.email }}</span
      >
      <span class="phone">
        <v-icon class="ml-5 mr-1 mb-1" size="22">mdi-cellphone</v-icon>
        {{ profile.phoneNumber }}</span
      >
      <hr style="border: 1px solid #e8e8e8;" />
      <v-checkbox
        v-model="pushNotification"
        :label="$i18n.t('NOTIFICATIONS.push')"
        color="orange darken-3"
        class="pl-12 mt-8"
        @change="updateNotification"
      ></v-checkbox>
      <v-checkbox
        class="mt-0 pl-12"
        v-model="mailNotification"
        :label="$i18n.t('NOTIFICATIONS.mail')"
        @change="updateNotification"
        color="orange darken-3"
      ></v-checkbox>
    </v-card-text>
    <v-card-actions class="card__actions text-end">
      <v-btn
        class="mr-1 card__actions__button"
        @click="$emit('close', false)"
        dark
        >{{ $i18n.t("GENERAL.close") }}</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { User } from "@/controllers/user";

@Component({})
export default class Profile extends Vue {
  private push = false;
  private mail = false;

  private get profile() {
    return this.$store.state.profile;
  }

  private set pushNotification(value) {
    this.push = value;
  }

  private get pushNotification() {
    return this.$store.state.profile.pushNotify;
  }

  private get mailNotification() {
    return this.$store.state.profile.mailNotify;
  }

  private set mailNotification(value) {
    this.mail = value;
  }

  private async updateNotification() {
    try {
      await User.updateNotifiaction(this.push, this.mail);
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }
}
</script>

<style scoped lang="scss">
.card {
  box-shadow: 0px 3px 9px 1px rgba(0, 0, 0, 0.2),
    0px 2px 14px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  .card__header {
    background: radial-gradient(circle, rgba(34, 107, 195, 1) 0%, #0e1e92 100%);
    height: 100px;
    width: 100%;
    border-radius: 0px !important;
    text-align: center;
    position: relative;

    .card__header__avatar {
      position: absolute;
      box-shadow: 1px 1px 4px 0px #505050;
      bottom: -20px;
      left: 42%;
    }
  }

  .card__content__name {
    font-size: 20px;
  }

  .card__actions {
    width: 100%;
    display: inline-block;

    .card__actions__button {
      background: linear-gradient(90deg, #5369da, #243fd0);
    }
  }
}

@media (max-width: 600px) {
  .phone {
    display: block !important;
  }
}
</style>
