<template>
  <div>
    <v-subheader>{{ $i18n.t("CHAT.rooms") }}</v-subheader>
    <v-list shaped width="100%" style="max-height: 400px; overflow-y: auto;">
      <v-list-item-group v-model="selectedRoom" color="primary">
        <v-subheader v-if="rooms.length == 0">{{
          $i18n.t("CHAT.noRooms")
        }}</v-subheader>
        <v-list-item
          v-for="(room, index) in rooms"
          :key="index"
          @click="joinRoom(index)"
          @contextmenu.prevent="openLeave(index)"
        >
          <v-list-item-icon>
            <v-icon v-text="room.icon"></v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="room.name"></v-list-item-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn
              v-if="index == leaveRoomIndex"
              @click.stop="leaveRoom(index)"
              style="z-index: 100;"
              x-small
              color="#e62618"
              dark
              >{{ $i18n.t("CHAT.leave") }}</v-btn
            >
          </v-list-item-action>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    <v-list width="100%">
      <v-list-item @click="roomDialog = !roomDialog">
        <v-list-item-content>
          <v-list-item-title class="text-center">
            <v-icon>mdi-plus</v-icon>
          </v-list-item-title>
          <v-list-item-subtitle class="text-center">
            <span>{{ $i18n.t("CHAT.addRoom") }}</span>
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-dialog v-model="roomDialog" width="500px" overlay-opacity="0.8">
      <v-card class="px-8 py-4" style="border-top: 5px solid #4960d8;">
        <v-card-title style="justify-content: center;">
          <span>{{ $i18n.t("CHAT.addRoom") }}</span>
        </v-card-title>
        <v-card-text class="pt-8">
          <v-form ref="addRoom" lazy-validation>
            <div style="width: 100%; display: inline-flex;">
              <v-menu offset-x transition="scale-transition" nudge-right="15px">
                <template v-slot:activator="{ on }">
                  <v-btn icon class="mt-2" large v-on="on">
                    <v-icon>{{ room.icon }}</v-icon>
                  </v-btn>
                </template>
                <v-card class="px-2 py-2" height="225px" width="275px">
                  <v-list style="padding-top: 3px;">
                    <v-list-item avatar two-line>
                      <v-icon size="32">mdi-label</v-icon>
                      <v-list-item-content class="pl-4">
                        <v-list-item-title
                          style="font-size: 14px; font-weight: 400;"
                        >
                          {{ $i18n.t("CHAT.icon") }}
                        </v-list-item-title>
                        <v-list-item-subtitle
                          style="font-size: 12px; font-weight: 300;"
                        >
                          {{ $i18n.t("CHAT.selectIcon") }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                  <v-divider></v-divider>
                  <div class="pa-4">
                    <v-btn
                      icon
                      v-for="(icon, iconIndex) in roomIcons"
                      :key="iconIndex"
                      @click="changeIcon(icon)"
                    >
                      <v-icon>{{ icon }}</v-icon>
                    </v-btn>
                  </div>
                </v-card>
              </v-menu>
              <v-text-field
                filled
                rounded
                :rules="name"
                :label="$i18n.t('CHAT.name')"
                v-model="room.name"
              ></v-text-field>
            </div>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-row no-gutters>
            <v-col cols="12" style="text-align: end;">
              <v-btn text class="mr-1" @click="roomDialog = !roomDialog">{{
                $i18n.t("GENERAL.close")
              }}</v-btn>
              <v-btn
                dark
                class="ml-1"
                style="background: linear-gradient(90deg, #09c78a, #1cad7d);"
                @click="addRoom"
                >{{ $i18n.t("CHAT.add") }}</v-btn
              >
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { db } from "@/firebase/index";

@Component({
  computed: {
    name(): ((v: string) => string | true)[] {
      return [
        (v: string): string | true =>
          v.length >= 4 || this.$i18n.t("CHAT.roomRule").toString(),
      ];
    },
  },
})
export default class RoomList extends Vue {
  @Prop({ default: [] }) public rooms!: any[];
  $refs!: {
    addRoom: HTMLFormElement;
  };
  private room = {
    name: "",
    icon: "mdi-label",
    suscribed: [],
  };
  private showLeaveRoom = false;
  private selectedRoom = -1;
  private leaveRoomIndex = -1;
  private roomDialog = false;
  private roomIcons = [
    "mdi-alien",
    "mdi-label",
    "mdi-alert",
    "mdi-ambulance",
    "mdi-bell",
    "mdi-bowl-mix",
    "mdi-briefcase",
    "mdi-calendar-clock",
    "mdi-chat",
    "mdi-mail",
    "mdi-email",
    "mdi-gamepad-variant",
    "mdi-account",
    "mdi-headset",
    "mdi-security",
  ];

  private joinRoom(index: number) {
    this.$emit("joinRoom", index);
  }

  private changeIcon(icon: string) {
    this.room.icon = icon;
  }

  private leaveRoom(index: number) {
    const me = this.rooms[index].suscribed.find((element: any) => {
      return element == this.externalId;
    });
    if (me) {
      this.rooms[index].suscribed.pop(this.externalId);
      if (this.rooms[index].suscribed.length == 0) {
        db.collection("rooms").doc(this.rooms[index].id).delete();
        this.leaveRoomIndex = -1;
      } else {
        db.collection("rooms")
          .doc(this.rooms[index].id)
          .update({ suscribed: this.rooms[index].suscribed });
        this.$emit("updateRoom", true);
      }
    }
  }

  private openLeave(index: number) {
    if (this.leaveRoomIndex == index) {
      this.leaveRoomIndex = -1;
    } else {
      this.leaveRoomIndex = index;
    }
  }

  private addRoom() {
    if (this.$refs.addRoom.validate()) {
      const suscribed: string[] = this.room.suscribed;
      suscribed.push(this.externalId);
      db.collection("rooms").add({
        name: this.room.name,
        suscribed: suscribed,
        icon: this.room.icon,
      });
      this.room = {
        name: "",
        icon: "mdi-label",
        suscribed: [],
      };
      this.roomDialog = false;
    }
  }

  get externalId(): string {
    return this.$store.state.profile.externalId;
  }
}
</script>

<style scoped lang="scss"></style>
