<template>
  <v-card class="card grow mx-4" light flat @click="openRss">
    <div class="text-end">
      <v-icon>
        mdi-rss-box
      </v-icon>
    </div>
    <v-card-text class="text-center pt-1">
      <div class="mb-3 card__title">
        {{ rss.title }}
      </div>
      <div class="card__description">
        <span v-html="rss.description"></span>
      </div>
    </v-card-text>
    <v-card-actions class="pt-3 card__actions">
      <span class="card__actions__source">{{ rss.source }}</span>
      <span class="mt-1 card__actions__date">{{ rss.date.slice(0, 10) }}</span>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { RssNewType } from "@/controllers/news";

@Component({})
export default class RssNew extends Vue {
  @Prop({ default: () => ({ date: "" }) })
  public rss!: RssNewType;

  private openRss() {
    window.open(this.rss.link, "_blank");
  }
}
</script>

<style scoped lang="scss">
.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s;
}

.card {
  width: 350px;
  height: 230px;
  transition: all 0.3s;
  border-top: 3px solid #ff9900 !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  display: inline-block;

  .card__title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 22px;
    text-transform: uppercase;
    color: #282828;
    font-family: serif;
    min-height: 65px;
  }

  .card__description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 65px;
    height: 65px;
  }

  .card__actions {
    display: block;

    .card__actions__date {
      color: #ffa600;
      font-size: 12px;
      float: right;
    }

    .card__actions__source {
      font-size: 12px;
      float: left;
    }
  }
}

@media (max-width: 600px) {
  .card {
    width: 330px !important;
  }
}
</style>
