<template>
  <v-toolbar color="#214eb7" dark :extended="extended">
    <v-app-bar-nav-icon
      @click="$store.dispatch('expandToolbar', !extended)"
    ></v-app-bar-nav-icon>
    <img
      class="pl-2"
      src="../assets/VirusControlPenta-11.png"
      alt="logo"
      style="width: 85px; cursor: pointer;"
      @click="navigateTo('/')"
    />
    <div v-if="extended" slot="extension">
      <v-btn
        icon
        x-large
        class="toolbar__content__button"
        @click="navigateTo('/patients')"
        v-if="isDoctor && logged"
      >
        <v-icon size="40">mdi-clipboard-account-outline</v-icon>
        <span class="toolbar__content__text">{{
          $i18n.t("TOOLBAR.patients")
        }}</span>
      </v-btn>
      <v-btn
        icon
        x-large
        class="toolbar__content__button"
        @click="navigateTo('/webchat')"
        v-if="isDoctor && logged"
      >
        <v-icon size="40">mdi-chat-processing-outline</v-icon>
        <span class="toolbar__content__text">{{
          $i18n.t("TOOLBAR.chat")
        }}</span>
      </v-btn>
      <v-btn
        icon
        x-large
        class="toolbar__content__button"
        @click="navigateTo('/resources')"
      >
        <v-icon size="40">mdi-package-variant-closed</v-icon>
        <span class="toolbar__content__text">{{
          $i18n.t("TOOLBAR.resources")
        }}</span>
      </v-btn>
      <v-btn
        @click="navigateTo('/exams')"
        icon
        x-large
        class="toolbar__content__button"
        v-if="logged"
      >
        <v-icon size="36">mdi-text-box-multiple-outline</v-icon>
        <span class="toolbar__content__text">{{
          $i18n.t("TOOLBAR.exams")
        }}</span>
      </v-btn>
    </div>
    <v-spacer></v-spacer>
    <!--CONSULTATIONS -->
    <v-menu
      transition="slide-y-transition"
      nudge-left="200px"
      nudge-bottom="60px"
      :close-on-content-click="false"
      v-if="isDoctor && logged"
      bottom
      avatar
      v-model="consultationMenu"
    >
      <template v-slot:activator="{ on }">
        <v-btn icon class="mr-1 pr-1" v-on="on">
          <v-badge
            :content="consultations.length"
            :value="consultations.length"
            color="#0ca959"
            overlap
          >
            <v-icon>mdi-phone-log</v-icon>
          </v-badge>
        </v-btn>
      </template>
      <v-card width="300px" class="pa-3">
        <v-list style="overflow-y: auto; max-height: 270px;">
          <p style="color: #626262;" class="pa-2 pb-0">
            {{ $i18n.t("TOOLBAR.consultations") }}
          </p>
          <v-alert
            v-show="consultations.length === 0"
            :value="true"
            width="100%"
            prominent
            border="left"
            class="content-container__card-actions_button white--text"
          >
            <v-icon size="38" class="pl-2 pr-1">mdi-emoticon-poop</v-icon>
            <span style="font-size: 14px;">
              {{ $i18n.t("TOOLBAR.noConsultations") }}
            </span>
          </v-alert>
          <v-list-item
            v-for="item in consultations"
            :key="item.id"
            class="pa-2 ma-2"
            style="
              box-shadow: 1px 1px 7px 1px #d8d8d8 !important;
              border-radius: 4px !important;
            "
          >
            <v-list-item-icon class="pl-2 mr-1 pt-1">
              <img
                src="../assets/appointment.png"
                alt="exam"
                style="width: 35px;"
              />
            </v-list-item-icon>
            <v-list-item-content class="pl-2">
              <v-list-item-title
                v-text="item.patientName"
                style="font-size: 14px; color: #626262;"
              >
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn
                x-small
                icon
                @click="removeConsultation(item.id)"
                style="position: absolute; top: 5px;"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-list-item-action-text class="mt-4 pr-2">
                <v-btn
                  x-small
                  color="green"
                  @click="acceptConsultation(item.id)"
                  dark
                  >{{ $i18n.t("TOOLBAR.accept") }}</v-btn
                >
              </v-list-item-action-text>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>

    <!--NOTIFICATIONS -->
    <v-menu
      transition="slide-y-transition"
      nudge-left="200px"
      nudge-bottom="60px"
      :close-on-content-click="false"
      bottom
      avatar
    >
      <template v-slot:activator="{ on }">
        <v-btn icon class="mr-3 pr-1" v-if="logged" v-on="on">
          <v-badge
            :content="notifications.length"
            :value="notifications.length"
            color="red"
            overlap
          >
            <v-icon>mdi-bell</v-icon>
          </v-badge>
        </v-btn>
      </template>
      <v-card width="300px" class="pa-3">
        <v-list style="overflow-y: auto; max-height: 270px;">
          <v-tooltip left>
            <template v-slot:activator="{ on }">
              <v-btn
                icon
                v-on="on"
                style="float: right;"
                @click="clearNotifications"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </template>
            <span>{{ $i18n.t("TOOLBAR.clearNotifications") }}</span>
          </v-tooltip>
          <p style="color: #626262;" class="pa-2 pb-0">
            {{ $i18n.t("TOOLBAR.notifications") }}
          </p>
          <v-alert
            v-show="notifications.length === 0"
            :value="true"
            width="100%"
            prominent
            border="left"
            class="content-container__card-actions_button white--text"
          >
            <v-icon size="38" class="pl-2 pr-1">mdi-emoticon-poop</v-icon>
            <span style="font-size: 14px;">
              {{ $i18n.t("TOOLBAR.noNotifications") }}
            </span>
          </v-alert>
          <v-list-item
            v-for="item in notifications"
            :key="item.id"
            class="pa-2 ma-2"
            style="
              box-shadow: 1px 1px 7px 1px #d8d8d8 !important;
              border-radius: 4px !important;
            "
          >
            <v-list-item-content class="pl-2">
              <v-list-item-title
                v-text="item.patientName"
                style="font-size: 18px; color: #424242;"
              ></v-list-item-title>
              <v-list-item-subtitle
                style="font-size: 14px; color: #626262;"
                v-text="item.disease"
              ></v-list-item-subtitle>
              <v-list-item-subtitle>
                <v-chip class="mt-1" x-small color="#615fe4" text-color="white">
                  {{ item.status }}
                </v-chip>
              </v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn
                x-small
                icon
                @click="readNotification(item.id)"
                style="position: absolute; top: 5px;"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-list-item-action-text class="mt-4 pr-2">
                <img
                  src="../assets/exam_2.png"
                  alt="exam"
                  style="width: 35px;"
                />
              </v-list-item-action-text>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
    <!--PROFILE -->
    <v-menu transition="slide-y-transition" nudge-bottom="60px" bottom avatar>
      <template v-slot:activator="{ on }">
        <span v-on="on">
          <v-tooltip bottom v-if="logged">
            <template v-slot:activator="{ on }">
              <v-btn large depressed class="avatar-border" v-on="on">
                <v-avatar color="teal" size="42">
                  <span class="white--text headline"
                    >{{ user.firstNameAlias }}{{ user.lastNameAlias }}</span
                  >
                </v-avatar>
              </v-btn>
            </template>
            <span>{{ user.firstName }} {{ user.lastName }}</span>
          </v-tooltip>
        </span>
      </template>
      <v-card width="200px">
        <v-list rounded>
          <v-list-item
            @click="profileDialog = !profileDialog"
            class="text-center"
          >
            <v-list-item-title>{{
              $i18n.t("TOOLBAR.profile")
            }}</v-list-item-title>
          </v-list-item>
          <v-menu transition="slide-x-transition" left nudge-left="195px">
            <template v-slot:activator="{ on }">
              <v-list-item v-on="on" class="text-center">
                <v-list-item-title>{{
                  $i18n.t("TOOLBAR.lang")
                }}</v-list-item-title>
              </v-list-item>
            </template>
            <v-card width="200px">
              <v-list rounded>
                <v-list-item-group color="primary" :value="lang">
                  <v-list-item
                    @click="$store.dispatch('setLang', 'sp')"
                    class="text-center"
                  >
                    <v-list-item-title>{{
                      $i18n.t("TOOLBAR.sp")
                    }}</v-list-item-title>
                  </v-list-item>
                  <v-list-item
                    @click="$store.dispatch('setLang', 'en')"
                    class="text-center"
                  >
                    <v-list-item-title>{{
                      $i18n.t("TOOLBAR.en")
                    }}</v-list-item-title>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card>
          </v-menu>
          <v-list-item @click="logOut" class="text-center">
            <v-list-item-title>{{
              $i18n.t("TOOLBAR.logOut")
            }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
    <v-btn
      class="login-button"
      v-if="!logged"
      @click.prevent="$router.push('login')"
      >Ingresar</v-btn
    >

    <v-dialog v-model="profileDialog" width="450px" overlay-opacity="0.8">
      <Profile @close="closeProfile"></Profile>
    </v-dialog>
  </v-toolbar>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapState } from "vuex";
import { User, ProfileData } from "@/controllers/user";
import { Auth } from "../controllers/auth";
import { db } from "@/firebase/index";
import Profile from "@/components/Profile.vue";

@Component({
  computed: {
    ...mapState({
      logged: (state: any) => state.logged,
      extended: (state: any) => state.extended,
    }),
  },
  components: {
    Profile,
  },
})
export default class Toolbar extends Vue {
  private profileDialog = false;
  private user = {
    firstName: "",
    lastName: "",
    firstNameAlias: "",
    lastNameAlias: "",
  };
  private notifications: any = [];
  private consultationMenu = false;
  private consultations: any = [];
  private read = false;

  private async created() {
    if (this.$store.state.logged) {
      await this.getProfile();
      await this.fetchNotifications();
    }
  }

  private mounted() {
    if (this.$store.state.profile.isDoctor) {
      this.fetchConsultations();
    }
  }

  private async fetchNotifications() {
    if (this.notifications.length === 0) {
      db.collection("statusNotifications")
        .where("externalId", "==", this.externalId)
        .where("read", "==", false)
        .onSnapshot((querySnapshot) => {
          this.notifications = [];
          querySnapshot.forEach((doc) => {
            let data: any = doc.data();
            data.status = this.$i18n
              .t(`NOTIFICATIONS.${data.status}`)
              .toString();
            data = Object.assign(data, { id: doc.id });
            this.notifications.push(data);
          });
        });
    }
  }

  private fetchConsultations() {
    if (this.consultations.length === 0) {
      db.collection("consultations")
        .where("accepted", "==", false)
        .where("finished", "==", false)
        .onSnapshot((querySnapshot) => {
          this.consultations = [];
          querySnapshot.forEach((doc) => {
            let data: any = doc.data();
            data = Object.assign(data, { id: doc.id });
            if (data.patientId != this.externalId) {
              this.consultations.push(data);
            }
          });
        });
    }
  }

  private removeConsultation(consultationId: string) {
    db.collection("consultations").doc(consultationId).delete();
  }

  private acceptConsultation(consultationId: string) {
    this.consultationMenu = false;
    db.collection("consultations")
      .doc(consultationId)
      .update({ accepted: true, medicId: this.externalId });
    this.$store.dispatch("setMenu", true);
  }

  private clearNotifications() {
    this.notifications.forEach((notification: { id: string }) => {
      this.readNotification(notification.id);
    });
  }

  private readNotification(notificationId: string) {
    db.collection("statusNotifications")
      .doc(notificationId)
      .update({ read: true });
  }

  private closeProfile(value: boolean) {
    this.profileDialog = value;
  }

  private async logOut() {
    try {
      await Auth.logOut();
      this.$store.dispatch("authenticate", {
        accessToken: "",
        refreshToken: "",
      });
      this.$store.dispatch("login", false);
      this.$store.dispatch("setProfile", {});
      this.navigateTo("/");
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private async getProfile() {
    try {
      const data: ProfileData = await User.getProfile();
      this.user = {
        lastName: data.lastname,
        firstName: data.firstname,
        lastNameAlias: data.lastname[0],
        firstNameAlias: data.firstname[0],
      };
      this.$store.dispatch("setProfile", data);
    } catch (error) {
      this.$notify({
        group: "feedback",
        duration: 5000,
        type: "error",
        title: "Error",
        text: error.message,
      });
    }
  }

  private navigateTo(route: string) {
    if (this.$router.currentRoute.path != route) {
      this.$router.push(route);
      this.$store.dispatch("expandToolbar", false);
    }
  }

  private get isDoctor(): boolean {
    return this.$store.state.profile.isDoctor;
  }

  private get lang(): number {
    return this.$store.state.lang == "sp" ? 0 : 1;
  }

  private get externalId() {
    return this.$store.state.profile.externalId;
  }
}
</script>

<style lang="scss">
.toolbar__content__button {
  margin: 0px 25px !important;
}

.avatar-border {
  background: transparent !important;
  width: 50px !important;
  border-radius: 30px;
  min-width: 50px !important;
  height: 50px !important;
}

.avatar-border::before {
  border-radius: 30px !important;
  width: 50px !important;
  color: #fff;
}

.login-button {
  background: linear-gradient(90deg, #6cb184, #09bd4a);
}

.toolbar__content__text {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
}

.v-toolbar {
  position: fixed !important;
  width: 100%;
  z-index: 100;
  top: 0;
  transition: all 0.4s cubic-bezier(0.15, 1.21, 0.41, 1.18) 0s !important;
}
.v-toolbar--extended {
  height: 142px !important;
}
.v-toolbar__extension {
  justify-content: center !important;
  height: 78px !important;
}

.content-container__card-actions_button {
  background: linear-gradient(90deg, rgb(9, 199, 138), rgb(28, 173, 125));
  box-shadow: 0 0 4px 0 #1da677c2 !important;
  width: 200px;
}

@media (max-width: 600px) {
  .toolbar__content__text {
    bottom: -25px !important;
    font-size: 11px !important;
  }

  .toolbar__content__button {
    margin: 0px 15px !important;
  }
}
</style>
