<template>
  <v-card class="card mr-6 mt-4 grow" light flat @click="openTweet">
    <div class="text-end">
      <v-icon class="pa-1" size="28" color="#1b9deb">
        mdi-twitter
      </v-icon>
    </div>
    <v-card-text class="pb-3 pt-1">
      <v-avatar size="42" class="mr-1 mb-6" style="border: 1px solid #f1f1f1;">
        <img
          :src="
            'https' + twitter.profilePhoto.slice(4, twitter.profilePhoto.length)
          "
          alt=""
        />
      </v-avatar>
      <div style="display: inline-block;">
        <p class="ma-0 card__username">
          {{ twitter.userName }}
        </p>
        <p class="ma-0" style="color: #b2b2b2;">@{{ twitter.nickName }}</p>
      </div>
      <div class="card__content">
        {{ twitter.text }}
      </div>
      <img
        v-if="twitter.mediaEntities.length !== 0"
        :src="
          'https' +
          twitter.mediaEntities[0].mediaURL.slice(
            4,
            twitter.mediaEntities[0].mediaURL
          )
        "
        alt=""
        style="max-height: 130px; max-width: 300px;"
      />
    </v-card-text>
    <v-card-actions style="display: block;">
      <v-icon class="pl-4">
        mdi-reply
      </v-icon>
      <span style="color: #757575;" class="pr-5">{{
        Math.floor(Math.random() * 10)
      }}</span>
      <v-icon>
        mdi-autorenew
      </v-icon>
      <span style="color: #757575;" class="pr-5">{{
        twitter.retweetCount
      }}</span>
      <v-icon>
        mdi-heart
      </v-icon>
      <span style="color: #757575;" class="pr-5">{{
        twitter.favoriteCount
      }}</span>
      <span class="pt-2 card__date">
        {{ twitter.date.slice(0, 10) }}
      </span>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { TwitterNewType } from "../controllers/news";

@Component({})
export default class TwitterNew extends Vue {
  @Prop({ default: () => ({ mediaEntities: [], date: "" }) })
  public twitter!: TwitterNewType;

  private openTweet() {
    window.open(this.twitter.link, "_blank");
  }
}
</script>

<style scoped lang="scss">
.grow:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.3s;
}

.card {
  margin-left: 16px;
  width: 350px;
  display: inline-block;
  transition: all 0.3s;
  text-align: start;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 0px rgba(0, 0, 0, 0.14), 1px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  border: 1px solid #e0e0e0 !important;
  border-top: 3px solid #1c9deb !important;

  .card__username {
    font-size: 18px;
    font-variant: all-small-caps;
    font-weight: bold;
  }

  .card__content {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card__date {
    color: #b2b2b2;
    font-size: 12px;
    float: right;
  }
}
@media (max-width: 600px) {
  .card {
    width: 330px !important;
    margin-left: 15px !important;
  }
}
</style>
