<template>
  <v-app id="app">
    <notifications group="feedback" />
    <v-content>
      <Toolbar v-if="showNav"></Toolbar>
      <v-container
        fluid
        class="pa-0"
        @scroll.passive="handleScroll"
        style="overflow-x: hidden;"
        :class="[
          extended ? 'toolbar--extended' : 'toolbar--no-extended',
          allowSignUp ? 'toolbar--none' : '',
        ]"
      >
        <transition name="slide-x-transition">
          <router-view></router-view>
        </transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Toolbar from "@/components/Toolbar.vue";
import { mapState } from "vuex";

@Component({
  computed: {
    ...mapState({
      showNav: (state: any) => state.showNav,
      extended: (state: any) => state.extended,
      allowSignUp: (state: any) => state.allowSignUp,
    }),
  },
  components: {
    Toolbar,
  },
})
export default class App extends Vue {
  private created() {
    window.addEventListener("scroll", this.handleScroll);
  }

  private handleScroll() {
    if (this.extended) {
      this.$store.dispatch("expandToolbar", false);
    }
  }

  private get extended(): boolean {
    return this.$store.state.extended;
  }
}
</script>

<style lang="scss">
.toolbar--extended {
  margin-top: 142px !important;
  height: calc(100vh - 142px);
  transition: all 0.3s cubic-bezier(0.15, 1.21, 0.41, 1.18) 0s !important;
}

.toolbar--no-extended {
  margin-top: 64px !important;
  height: calc(100vh - 64px);
  transition: all 0.3s cubic-bezier(0.08, 0.9, 0.78, 1.13) 0s !important;
}

.toolbar--none {
  margin-top: 0px !important;
  height: 100vh !important;
}

@media (min-width: 600px) {
  * {
    scrollbar-color: #626262 transparent;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    background: #fff;
    height: 0.6em;
    width: 0.6em;
  }

  ::-webkit-scrollbar-track {
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    box-sizing: content-box;
    border-radius: 10px;
    border: 2px solid #eee;
    background: #626262;
  }
}

@media (max-width: 600px) {
  .toolbar--extended {
    margin-top: 134px;
    height: calc(100vh - 134px);
    transition: all 0.3s cubic-bezier(0.15, 1.21, 0.41, 1.18) 0s !important;
  }

  .toolbar--no-extended {
    margin-top: 56px !important;
    height: calc(100vh - 56px);
    transition: all 0.3s cubic-bezier(0.08, 0.9, 0.78, 1.13) 0s !important;
  }
}

#app {
  font-family: Nunito;
}

button.v-pagination__navigation:focus {
  outline: none !important;
}

.notifications {
  top: 0px !important;
  width: 310px !important;
  right: 10px !important;
}

.notification-wrapper {
  margin: 10px 0 !important;
  height: auto !important;
  border-radius: 8px !important;
  opacity: 1 !important;
}

.vue-notification {
  font-size: 14px !important;
  margin: -0px 0px 0px 0px !important;
  margin-right: 0px !important;
  cursor: pointer !important;
  height: 100% !important;
}

.vue-notification-group {
  top: 10px !important;
  right: 10px !important;
}

.vue-notification-wrapper {
  border-radius: 8px !important;
  margin-bottom: 5px !important;
}

.vue-notification-template.vue-notification.warning {
  background-color: #ffbc00 !important;
  border-left: 6px solid #ffd150 !important;
}

.vue-notification-template.vue-notification.error {
  border-left-color: #b82e24 !important;
  border-left: 6px solid #ff8484 !important;
}

.vue-notification-template.vue-notification.info {
  background: #1fa9d8 !important;
  border-left: 6px solid #87d1ea !important;
}

.vue-notification-template.vue-notification.success {
  border-left: 6px solid #458047 !important;
}

.vue-notification .notification-title {
  padding-bottom: 5px !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
}
</style>
